[2018-12-09 15:28] mariobehling opened #1 "Configure Build of apk branch to only build a) dev branch apps or b) master branch apps on merged PR"
Please configure the building of the apks in the apk branch as follows:

* Only build and overwrite apks from dev branch once dev branch PRs are merged
* Only build and overwrite apks from master branch once master branch PRs are merged
* The goal is that we see in the apk branch the different dates of the last merge and save build time as there are less apps to be build.

Naming Convention
* Badg

[2018-12-09 15:42] mariobehling opened #2 "Set up travis CI"
Travis is already connected but not yet set up. Please help with that.

[2018-12-10 14:19] liveHarshit opened #3 "Add NDK version in README.md"
Build failed in the newer version of NDK 17c due to no toolchains for `mips64el-linux-android`. Working fine with version **16b**. It should mention in the readme file to use an older version of NDK or provide a link to download a zip file for toolchain `mips64el-linux-android`.

[2018-12-10 22:08] #3 closed

[2018-12-13 01:09] #2 closed

[2018-12-13 01:16] mariobehling opened #6 "Travis is failing. Please fix it"
Please help to fix failing travis build.

[2018-12-13 07:19] #6 closed

[2018-12-14 10:30] GOVINDDIXIT opened #9 "Update travis CI to run apk scripts"
**Would you like to work on the issue?**

-Yes

[2018-12-14 14:16] #9 closed

[2018-12-15 16:50] #1 closed

[2018-12-16 06:01] mariobehling opened #13 "Change App Name and Colors"
1. Please change the app name in the app to Badge Magic. Please ensure strings everywhere in the app are changed.
2. Please change the colors to red similar to pslab.

[2018-12-16 06:02] mariobehling opened #14 "Implement a badge preview on the top of the screen"
There are a number of apps to use the phone as an LED screen. Please take inspiration and implement a preview screen to show how it will look on the actual device on the top. Compare for example to this app: https://play.google.com/store/apps/details?id=com.rooftopSpace.Led

[2018-12-16 06:17] mariobehling opened #15 "Implement an in-app saving and export function for badges"
Currently badges cannot be saved. Please add a save button. It would make it easier if the user does not necessarily has to add a name. However the name of the saved file  - it should be possible to change it. Also ensure the user can export the saved file and open it e.g. on another phone.

[2018-12-16 06:31] mariobehling opened #16 "Implement animations"
There are a number of nice animations possible with LED. Please check out this app and implement animations that work on real devices: https://play.google.com/store/apps/details?id=com.rooftopSpace.Led

[2018-12-17 06:44] mariobehling opened #17 "Add feature to display bitmap"
Please implement the possibility to send a Bitmap to the LED badge directly. Since we have a full control over the badge device, we can create a 40x11px bitmap and write some code to convert it into byte arrays we can send to the LED badge.

![screenshot from 2018-12-17 08-00-16](https://user-images.githubusercontent.com/1583873/50071364-d253a300-01d1-11e9-9b80-34bbe5388a41.png)

![09_final](https

[2018-12-18 08:47] #13 closed

[2019-01-02 19:20] ark786 commented on #15
I would like to work on it. Please assign it to me.

[2019-01-02 20:42] mariobehling commented on #15
There is no need to assign issues. It is sufficient if you claim it here. Please go ahead.

[2019-01-18 09:57] liveHarshit opened #23 "Show alert dialog instead of exiting the application"
Current, if the user does not allows permissions, app exit with a toast message. It is not a good user experience to close the whole application.
Show an alert dialog after denying the permission and ask again.

[2019-01-18 09:59] liveHarshit opened #24 "Add issue and PR template"
Add a default template for submitting a new issue or PR.

[2019-01-18 10:00] liveHarshit commented on #23
I want to work on this issue. :+1:

[2019-01-18 11:37] liveHarshit opened #26 "Add spotless check to travis"
Add spotless check to improve code quality, optimize imports and format the code with spotless.

[2019-01-18 11:37] liveHarshit commented on #26
I want to work on this issue. :+1:

[2019-01-19 08:30] #24 closed

[2019-01-19 08:30] #23 closed

[2019-01-19 08:31] #26 closed

[2019-01-24 13:40] itskshitizsh opened #29 "Update Version of dependencies"
**Describe the bug**

Source Code using older versions when newer versions are available for dependencies.

**To Reproduce**

Clone Source Code and after importing gradle.build will fail.

**Expected behavior**

Source Code should run and build successfully/

**Logs**

**Screenshots**

![whatsapp image 2019-01-24 at 5 42 42 pm](https://user-images.githubusercontent.com/24621468/51681621-335d6a80-2

[2019-01-24 13:44] #29 closed

[2019-01-24 13:48] itskshitizsh opened #30 "New ext.kotlin_version available"
**Describe the chore**

A older version is used.   ext.kotlin_version = '1.2.10'

**Would you like to work on the issue?**

Yes

[2019-01-25 07:35] #30 closed

[2019-01-25 09:46] itskshitizsh opened #32 "IllegalArgumentException when SEND button click 3 times"
**Describe the bug**

App Stopped working due to FATAL EXCEPTION: main.

**To Reproduce**

Install App and allow Bluetooth, with no device connected. With empty field, click on SEND more than 3 times.

**Expected behavior**

If no device is connected, the device should give a message, may be in the form of Toast that device not connected or Scan could not find any device.

**Logs**

E/AndroidRunti

[2019-01-25 13:39] liveHarshit commented on #30
Issue should close after PR got merge.

[2019-02-24 18:16] kshitij-99 commented on #32
Can I work on this issue ?

[2019-03-04 13:07] #32 closed

[2019-03-04 17:43] dilum1995 commented on #14
Hello @mariobehling ,

Is it possible for me to work on this and also to improve the application UI?

[2019-03-04 20:05] balaji-ramavathu opened #36 "Spinner item's width is not till the end"
**Describe the feature you'd like**
The "Speed" and "Mode" spinners have items that are hard to click, since their width is too less.

**Screenshots**

![spinner-item-badge](https://user-images.githubusercontent.com/26673203/53759643-d47ef100-3ee6-11e9-8ccc-c78fee750232.gif)

**Would you like to work on the issue?**
Yes!

[2019-03-04 20:52] balaji-ramavathu opened #38 "Crash when bluetooth is off and Send button is clicked"
**Describe the bug**
Bluetooth adapter is not turned on error is showing up as there's no check in the code.

**To Reproduce**
Turn off bluetooth and click send button.

**Expected behavior**
App should not crash.

**Logs**
AndroidRuntime: FATAL EXCEPTION: main
    Process: com.nilhcem.blenamebadge, PID: 15932
    java.lang.IllegalStateException: BT Adapter is not turned ON
        at no.nordicsem

[2019-03-05 01:20] mariobehling commented on #14
Please go ahead. As this project is still early stage there is no need to ask if you can take over an issue. Simple get started according to your interests. Thank you.

[2019-03-05 11:13] yashk2000 opened #41 "Updating build.gradle version."
**Describe the chore**
Current build.gradle version is 3.1.4. It should be updated to the latest version i.e., 3.3.0

**Would you like to work on the issue?**
Yes.

[2019-03-05 11:15] yashk2000 opened #42 "Indication should be shown if no device is found after scanning."
**Describe the feature you'd like**
An indication in form of a Toast message should be shown if no message is shown after scanning is done.

**Would you like to work on the issue?**
Yes.

[2019-03-05 11:19] yashk2000 opened #43 "Updating issue templates."
**Describe the chore**
An option of yes or no should be provided in the issue templates.

![screenshot from 2019-03-05 16-47-50](https://user-images.githubusercontent.com/41234408/53801966-9d502480-3f66-11e9-8aa0-bbf2469b321b.png)

**Would you like to work on the issue?**
YES.

[2019-03-05 11:46] mariobehling commented on #43
no priority at the moment.

[2019-03-05 11:46] #43 closed

[2019-03-05 16:40] yashk2000 opened #45 "Keyboard always stays up until back button is pressed."
**Describe the bug**
The keyboard does not disappear unless the back button is pressed.

**Expected behavior**
When the user has created the badge needed and pressed the send button, the keyboard should go down automatically. It should pop up again only when the edit text is pressed.

**Would you like to work on the issue?**
YES.

[2019-03-07 08:45] #45 closed

[2019-03-09 01:22] theLimitBreaker opened #48 "Use AndroidX artifacts"
**Describe the chore**
Migrate to androidX artifacts.
this means we don't have to use same support library version for all support libraries. Every support or better to say AndroidX library will maintain its own versioning . Maintaining support versions could be huge issues in the long run.

**Would you like to work on the issue?**
 Yes

[2019-03-09 02:03] theLimitBreaker opened #49 "Improve UX for sending bytes"
### Description
currently User clicks send , No visual representation is shown
button becomes non-responsive

### ScreenShots
Non Responsive UX when sendBytes() works
<img src="https://user-images.githubusercontent.com/24780524/54064742-8bf46a00-423d-11e9-8fae-43b83c0ff10c.gif" width=360>

### Expected UX
1) Details(Or Name) of device where bytes are being sent should be shown to user
2) Progress

[2019-03-09 07:33] theLimitBreaker opened #50 "NULLPointerException , when characterstics is null"
**Describe the bug**
  In GattClient, while connecting to gatt , if characterstic is null, it generates Unhandled Exception

**To Reproduce**
just try to connect any BLE device

**Expected behavior**
Handle this exception

**Logs**

**Screenshots**

[code]
**Smartphone Info:**
Device  : Nokia 6.1
Android Version : 9.0 android pie

**Would you like to work on the issue?**
Yes

[2019-03-10 06:00] yashk2000 opened #52 "About section for the app."
**Describe the chore**

There is no About or FAQS section in the app to describe it in detail which is present in most other apps.

**Would you like to work on the issue?**
YES.

@iamareebjamal @CloudyPadmal should I go ahead with this?

[2019-03-12 17:03] anshulmak commented on #17
I think we can implement this by converting the bitmap to byte array via function -

    fun convertBitmapToByteArrayUncompressed(bitmap: Bitmap) : ByteArray? {
        val byteBuffer : ByteBuffer? = ByteBuffer.allocate(bitmap.byteCount)
        bitmap.copyPixelsToBuffer(byteBuffer)
        byteBuffer?.rewind()
        return byteBuffer?.array()
    }

and send this Byte Array to Led Badge.

[2019-03-16 04:11] iamareebjamal commented on #17
Go ahead. First verify if it does work

[2019-03-16 04:12] #38 closed

[2019-03-17 04:06] ark786 opened #55 "Implement a Splash Screen"
**Describe the feature you'd like**
 A splash screen to improve look and feel of app

**Screenshots**

![device-2019-03-17-033829](https://user-images.githubusercontent.com/28945306/54485036-e4f47b80-4897-11e9-8714-8296797b28a4.png)

**Would you like to work on the issue?**
yes :)

[2019-03-18 17:22] AkashM398 commented on #55
Yes I am working on this :)

[2019-03-18 17:26] yashk2000 commented on #55
@AkashM398 you cannot work on this before asking the creator of the issue. If the creator says that the issue is idle, then work on it, but not before. Please ask @ark786 before you start working on it.

[2019-03-18 17:29] AkashM398 commented on #55
okay, but how do I contact him?

[2019-03-18 19:23] ark786 commented on #55
@AkashM398 sorry but I was already working on the issue . Please open a new issue :)

[2019-03-20 11:32] yashk2000 commented on #55
@ark786 I think that splash screen is not needed. It is needed for apps that require some data to be loaded before being displayed to the user. So while the data is being loaded, the splash screen is displayed. But this app does not require any data to be loaded. Hence I think that the splash screen will be more of a hindrance.

[2019-03-20 11:33] yashk2000 commented on #52
@iamareebjamal  could you please tell me if an About section should be added to the app?

[2019-03-20 11:44] yashk2000 opened #57 "No option to exit the app if user denies Bluetooth permission."
**Describe the bug**
If the user denies Bluetooth permission to the app, there is no option shown in the dialog box for exiting the app.

**Expected behavior**
There should be an option to exit the app in the dialog if the user wants to deny Bluetooth permission.

**Smartphone Info:**

|               | |
|---------------|-|
|Device         |Nokia 7 plus|
|Android Version|Android 9.0    |

**Would

[2019-03-20 15:16] iamareebjamal commented on #52
Go ahead

[2019-03-20 16:04] ark786 commented on #55
@yashk2000  this is a valid point . Let's close this issue :)

[2019-03-20 16:04] #55 closed

[2019-03-20 16:44] ShridharGoel opened #58 "Change toasts to snackbars"
**Describe the chore**
Snackbars should be used instead of toasts for better UI.

**Would you like to work on the issue?**
Yes

[2019-03-20 17:55] yatri1609 opened #60 "Disable Send button when there is no bluetooth device connected"
**Describe the feature you'd like**
A message should show up when there is no bluetooth device connected. For example a toast message or an alert.

**Additional context**
We could also disable the send button when there is no bluetooth device connected.

**Would you like to work on the issue?**
Yes

[2019-03-20 17:55] yatri1609 commented on #60
@iamareebjamal Can I work on this issue?

[2019-03-20 18:03] yatri1609 opened #61 "Typo in readme.md"
**Describe the bug**
`Reverse Engeneering...` must be changed to `Reverse Engineering...`

**To Reproduce**
Open `readme.md` file

**Expected behavior**
`Reverse Engineering` must be there in the title

**Logs**
N/A

**Screenshots**
![Screenshot_2019-03-20 fossasia badge-magic-android](https://user-images.githubusercontent.com/34381723/54708022-6f72fe80-4b68-11e9-94c5-2791aad66223.png)

**Smartpho

[2019-03-20 19:58] iamareebjamal commented on #60
Disabling it sounds reasonable

[2019-03-21 04:31] yatri1609 commented on #60
@iamareebjamal Cool, I'll disable the button when there is no bluetooth device connected

[2019-03-21 05:24] yatri1609 opened #64 "Add Navigation Drawer to support different sections"
**Describe the feature you'd like**
Navigation Drawer will show if the Bluetooth device is connected or not and also support the About and FAQ section making the app more user friendly

**Additional context**
It could be somewhat similar to that in case of PSLab app

**Would you like to work on the issue?**
Yes

[2019-03-21 05:24] yatri1609 commented on #64
@iamareebjamal Can I work on this issue?

[2019-03-21 05:28] yashk2000 commented on #60
Do not do this. The app didn't require a Bluetooth device to be connected. It uses BLE. When a message is sent to the badge, the badge doesn't show up as a device. BLE is used and the message is transferred.

[2019-03-21 05:30] yashk2000 commented on #64
There is no need for this. The app doesn't connect to a device while sending data. And i was planning to add a navigation drawer any way when adding the about section. I'll add faqs there also.

[2019-03-21 05:46] yatri1609 commented on #64
@yashk2000 I could work on the FAQs since your are already working on About section

[2019-03-21 05:51] yatri1609 commented on #60
@yashk2000 Are you a mentor here ? Also there in this app there is nothing which can show that device is not there or BLE is not sending anything

[2019-03-21 05:53] yatri1609 commented on #64
@yashk2000 And I already have navigation drawer ready.

[2019-03-21 07:36] yashk2000 commented on #60
This should not be done as when the message is sent using BLE, a Bluetooth connection is not required. Therefore if you check whether a device is connected via Bluetooth and disable the button then, the button will always be disabled. There is no way to detect if the LED Badge is there or not. If the badge is there and is on receiving mode, the message will be sent else nothing will happen. A mess

[2019-03-21 07:39] yashk2000 commented on #64
@yatri1609 you should have asked me about creating the navigation drawer since I was already working on creating an about section. The best way to do that is by adding a navigation drawer.

Sure, you can work on adding the FAQs after the About section with the nav drawer is done.

[2019-03-21 07:52] yashk2000 opened #65 "Issue when edit text is empty."
**Describe the bug**
When the edit text is empty, the keyboard goes down and no alert is shown.

**To Reproduce**
Keep the edit text empty and press send. The keyboard goes down.

**Expected behavior**
The keyboard should not go down and an alert should be shown in the edit text.

**Smartphone Info:**

|               | |
|---------------|-|
|Device         |Nokia 7 plus|
|Android Version|Android

[2019-03-21 07:57] yashk2000 opened #66 "Color of navigation bar."
**Describe the feature you'd like**
The color of the navigation bar is currently black. It should be made red to match the app theme.

**Would you like to work on the issue?**
YES.

[2019-03-21 09:38] ShridharGoel opened #67 "Close keyboard whenever send button is clicked"
**Describe the bug**
Currently the keyboard closes only when the send button is clicked and bluetooth is on.

**Expected behavior**
The keyboard should close even when bluetooth is off and the send button is clicked.

**Would you like to work on the issue?**
Yes

[2019-03-21 10:02] ShridharGoel opened #69 "Send button becomes inaccessible on screen rotation"
**Describe the bug**
Cannot access send button when screen is rotated.

**Expected behavior**
Send button should be accessible.

**GIF**
![ezgif com-video-to-gif (58)](https://user-images.githubusercontent.com/35566748/54744904-31202280-4bee-11e9-9d33-d2cd78e97b05.gif)

**Would you like to work on the issue?**
Yes

[2019-03-21 10:11] yatri1609 commented on #64
@yashk2000 Cool no problem. I'll work on FAQs when you are done with about section

[2019-03-21 10:14] yatri1609 commented on #60
@yashk2000 Ohk got that. I thought there was something like that. Sorry for my misunderstanding

[2019-03-21 10:58] yatri1609 commented on #66
@yashk2000 I don't see the navigation bar yet.

[2019-03-21 11:04] yatri1609 opened #70 "Add hardcoded values to dimen.xml"
**Describe the chore**
Hardcoded values used must be in `dimen.xml` file since it is a good practice to follow.

**Would you like to work on the issue?**
YES

[2019-03-21 11:06] yatri1609 commented on #70
@iamareebjamal @jogendra Can I work on this?

[2019-03-21 11:39] yatri1609 opened #72 "Send button gets disabled after one click"
**Describe the bug**
When you add a text and click on send button once, it gets disabled and then when we change some settings like speed or add marquee effect, the send button doesn't get enabled. One needs to exit the app and then again press send button

**To Reproduce**
1. Open app and add text
2. Press `Send`
3. Change settings like speed
4. Again try and press `Send`. (here it gets disabled)

[2019-03-21 15:02] #36 closed

[2019-03-21 15:04] mariobehling commented on #58
Toast seems more appropriate as there is actually an error.

[2019-03-21 15:05] mariobehling commented on #58
Please help to solve more higher priority issues e.g. https://github.com/fossasia/badge-magic-android/issues/14

[2019-03-21 15:05] #58 closed

[2019-03-21 15:05] #61 closed

[2019-03-21 15:06] #67 closed

[2019-03-21 15:08] #69 closed

[2019-03-21 16:07] yashk2000 commented on #72
The button gets enabled again after 10s. It was done to prevent the app from crashing due to IllegalArgumentsException. This is not an issue.

[2019-03-21 16:08] #72 closed

[2019-03-21 16:09] yashk2000 commented on #66
I meant the on screen navigation bar of the phone..where the home, back and multi tasking buttons are present.

[2019-03-21 16:10] yatri1609 commented on #66
@yashk2000 ohk since my phone doesn't have that so I don't have any idea about it..

[2019-03-21 16:19] yashk2000 opened #74 "Send button becomes non clickable after pressing once for 10s."
**Describe the feature you'd like**
Right now, the send button is non-clickable after being pressed once for 10s. Instead it should just be disabled so that even if a user presses it, it appears to be clickable.

**Would you like to work on the issue?**

YES

[2019-03-21 16:24] yatri1609 commented on #74
This would be covered in my work on issue #60 so I would cover this part too as said in PR #63 that a message must appear and the color of button must be changed

[2019-03-21 16:26] yashk2000 commented on #74
I have put a comment on that pr. I don't think that should be done. As I said earlier, no Bluetooth connection os required. You cannot sense whether the badge is available or not without pressing the send button. If the badge is available, it will receive the message from BLE else nothing happens.

[2019-03-21 16:27] yashk2000 commented on #74
Please try this using the badge device once. You will see that no Bluetooth connection is required.

[2019-03-21 16:33] yatri1609 commented on #74
@yashk2000 I don't have the device actually 😅 so i can't check it out actually

[2019-03-21 16:34] yatri1609 commented on #74
@yashk2000 also I wanted to know if you are the mentor of this project ?

[2019-03-21 16:34] liveHarshit commented on #74
Let me clear things. @yatri1609 First you need to analyze how the app is working. #60 is not a practical issue. Because led badge is not connected permanently, it sends the signal for one time then disconnect automatically.

[2019-03-21 16:36] yashk2000 commented on #74
I think having a device to check out how the app works is crucial to work on the project. I have a device and have checked these things. #60 is not required. And what @liveHarshit said is also correct.

[2019-03-21 16:36] #60 closed

[2019-03-21 16:37] liveHarshit commented on #60
This issue is not practical.

[2019-03-21 16:44] yatri1609 commented on #74
@liveHarshit yeah I got that...

[2019-03-21 16:45] yatri1609 commented on #74
@yashk2000 that's no where written in the pre-requisites or something like that. Is that so @mariobehling ?

[2019-03-21 16:49] yashk2000 commented on #74
@yatri1609 you can contribute upto some extent without the hardware, but ultimately you will need it. You cannot make new features without seeing how they look on the badge and whether they actually work or not.

And no, I'm not a mentor for the project, just a contributor. But I'm always ready to help :)

[2019-03-21 16:51] yatri1609 commented on #74
@yashk2000 yeah so even that thing happened with the pslab last year when I was interning in that project and we got eventually got the device when we were selected for that project internship which was also a hardware project.

[2019-03-21 16:56] yatri1609 commented on #74
@yashk2000 Yeah exactly so eventually when I get selected I'll be having the device and will be able to work on larger part of the project to make it market ready.

I understand not having a device is a barrier for now but I can surely work on some of the things which do not require for example adding About section, navigation drawer, etc.

So if you agree on it I can work on things which do not r

[2019-03-21 16:56] yashk2000 commented on #74
You can contribute to the app. All I'm saying is that it is better to have a hardware so as to properly understand how the app works.

[2019-03-21 16:58] yatri1609 commented on #74
@yashk2000 I understand but for now I don't have and eventually I will have it so currently while currently contributing for GSoC I don't think I'll be able have it. Is there any substitute if you know of the device ?

[2019-03-21 17:00] yashk2000 commented on #74
Of course you can work on issues which do not require the hardware. There's no need to ask me for that. But I'd like to keep working on the issues I have opened. If you find any other issues, not requiring the hardware do work on them to improve the app.

I don't think there is any substitute for the hardware. I too searched a lot for a substitute until I got the device, but was unable to find any

[2019-03-21 17:04] yatri1609 commented on #74
@yashk2000 Of course I'll be working on the issues which won't require the device for now and it's just that not having a device is not a barrier which even you should appreciate. And I'm saying this from my experience that not having device is not a barrier.

[2019-03-21 17:10] yashk2000 commented on #74
Sure @yatri1609 :)

[2019-03-21 17:21] yatri1609 opened #75 "Add Bug Report page"
**Describe the feature you'd like**
Adding bug report or feature request form to get bug reports or requests

**Additional context**
Dependent on #52 where Navigation Drawer will be added

**Would you like to work on the issue?**
Yes

[2019-03-21 17:22] yatri1609 opened #76 "Add FAQs section"
**Describe the feature you'd like**
A simple FAQs section which will guide users with simple questions.

**Additional context**
Dependent on #52

**Would you like to work on the issue?**
YES

[2019-03-21 17:28] yashk2000 commented on #76
@yatri1609 since you have created so many issues related to the nav drawer, and have already made the nav drawer, go ahead and implement all these features. After you do that, I'll add the about part. Is that alright?

[2019-03-21 17:39] yashk2000 opened #77 "Make an icon for the app."
**Describe the chore**
There should be an icon for the app instead of the default android logo.

**Would you like to work on the issue?**
YES.

I was thinking of making the icon like the badgeyay website. Could you please give your opinions @iamareebjamal @mariobehling of how the app icon should be designed?

[2019-03-21 18:04] yatri1609 commented on #76
Cool no problem. Thanks :)

[2019-03-21 18:05] yatri1609 commented on #77
@yashk2000 Even I can help in designing part as I have experience in doing digital designing as well.

[2019-03-21 18:10] yashk2000 commented on #77
Thanks @yatri1609. Let's wait for the mentors to tell their idea of an icon.

[2019-03-21 19:01] iamareebjamal commented on #77
Let's have a few mockups

[2019-03-22 02:27] mariobehling commented on #76
Low priority. Please focus on moving forward the app through features first:
https://github.com/fossasia/badge-magic-android/labels/Priority%3A%20High

Closing this therefore.

[2019-03-22 02:27] #76 closed

[2019-03-22 02:27] mariobehling commented on #75
Low priority. Please focus on moving forward the app through features first:
https://github.com/fossasia/badge-magic-android/labels/Priority%3A%20High

[2019-03-22 02:28] mariobehling commented on #66
Low priority. Please focus on moving forward the app through features first:
https://github.com/fossasia/badge-magic-android/labels/Priority%3A%20High

[2019-03-22 02:28] #66 closed

[2019-03-22 02:28] mariobehling commented on #64
Low priority. Please focus on moving forward the app through features first:
https://github.com/fossasia/badge-magic-android/labels/Priority%3A%20High

[2019-03-22 02:28] #64 closed

[2019-03-22 02:29] mariobehling commented on #52
Low priority. Please focus on moving forward the app through features first:
https://github.com/fossasia/badge-magic-android/labels/Priority%3A%20High

[2019-03-22 02:29] #52 closed

[2019-03-22 02:30] mariobehling commented on #48
Low priority. Please focus on moving forward the app through features first:
https://github.com/fossasia/badge-magic-android/labels/Priority%3A%20High

[2019-03-22 02:30] #48 closed

[2019-03-22 03:20] yatri1609 commented on #15
I would like to implement this

[2019-03-22 07:09] yatri1609 commented on #15
@mariobehling Do we want to log data to csv fiile or any other file type?

[2019-03-22 09:15] yashk2000 opened #81 "Color of speed and mode text views inside the spinner."
**Describe the bug**
The color of speed and mode text views inside the spinner have become grey instead of black due to a recent commit.

**Expected behavior**
The color should be black.

**Screenshots**

![screencap](https://user-images.githubusercontent.com/41234408/54812403-11056780-4cb1-11e9-88fb-ebd32120f1e1.png)

**Smartphone Info:**

|               | |
|---------------|-|
|Device         |

[2019-03-22 11:41] iamareebjamal commented on #15
Use https://github.com/square/tape

[2019-03-22 14:51] sparrow007 opened #83 "Request for open the bluetooth"
**Describe the bug**
When there bluetooth is not open and we click on send button, it is showing the toast instead of request for open the bluetooth.

**To Reproduce**
Step 1. Accept all permissions

Step 2.After entering in the app , turn off the bluetooth of android device

Step 3. Click on send button.

**Expected behavior**
It should make a request instead of toast.

**Smartphone Info:**

|Dev

[2019-03-22 16:29] #81 closed

[2019-03-23 08:27] yatri1609 opened #85 "App couldn't detect my badge"
**Describe the bug**
I have a LED Badge which has its Bluetooth ID: FF:FF:2A:00:19:CA, and app is not able to detect it and send data while other app is able to detect and send data.

**Expected behavior**
It should detect this device and send data.

**Smartphone Info:**

| Device |Android Version|
|----------|:-------------:|
| Redmi 4 | Android 7.1.4 |

**Additional context**
I tried CoolLED1248

[2019-03-23 08:48] yatri1609 commented on #85
@mariobehling @iamareebjamal Shouldn'e this app connect to any badge ? As I'm able to see my device in the bluetooth section but not able to connect it.

[2019-03-23 08:50] ShridharGoel commented on #85
This app works for BLE devices

[2019-03-23 08:56] yatri1609 commented on #85
@ShridharGoel I checked in its configuration it said it is a BLE device

[2019-03-24 08:26] cweitat commented on #85
Does your badge needs to press any buttons to enable the BLE function?

[2019-03-24 08:27] cweitat commented on #83
Please show screenshots of the problems if possible

[2019-03-24 10:04] yatri1609 commented on #85
@cweitat No nothing like that... But I have ordered from Fossasia website..

[2019-03-26 05:10] adityastic commented on #17
I am willing to work on it. I can write the code to convert any 40x 11 gray-scaled image to byte arrays which can then be sent to the LED Badge

[2019-03-26 13:59] #14 closed

[2019-03-26 13:59] #17 closed

[2019-03-26 14:45] adityastic opened #90 "Bug in Badge Preview for XXXHDPI Devices"
**The Led's Layout is Uneven**

**To Reproduce**
Open the App in any XXXHDPI Device

**Screenshots**
![bmex](https://user-images.githubusercontent.com/11988517/55006510-e1819280-5003-11e9-8a55-7020bd9a42af.jpg)

**Would you like to work on the issue?**
YES

[2019-03-26 14:47] yatri1609 commented on #83
![Screenshot_2019-03-26-20-15-55-096_com nilhcem blenamebadge](https://user-images.githubusercontent.com/34381723/55006656-1988d580-5004-11e9-85f2-d0fba3b90f9e.png)
@cweitat Here is the screenshot

[2019-03-26 14:51] yatri1609 commented on #42
@mariobehling @cweitat  I would like to send a PR for this can I ? As there is no response on the other PR proposed for this

[2019-03-26 15:06] #90 closed

[2019-03-26 16:11] sparrow007 commented on #83
@yatri1609 thanks for the screenshot

[2019-03-27 04:11] adityastic opened #93 "Animations (Marquee, Flash) in Badge Preview of the App"
**Description**
The Badge should react according to the selected animation. Currently it only displays the Text onto the preview.

**GIF of How it should work**
![temp](https://user-images.githubusercontent.com/11988517/55049910-3d83ff80-5074-11e9-8325-3fec1bc8bd4b.gif)

**Would you like to work on the issue?**
YES

[2019-03-27 07:28] yashk2000 commented on #42
@yatri1609 you are right, there is no response on the other pr for this. But I am working on it. I am a bit busy this week but I'll send a pr for this soon.

[2019-03-27 08:30] #42 closed

[2019-03-27 17:10] yashk2000 commented on #93
@adityastic that is not the marquee effect as shown by the device.

[2019-03-28 00:20] adityastic commented on #93
@yashk2000  is the left marquee different in the actual device?

[2019-03-28 06:49] yashk2000 opened #97 "App crashes if a symbol which is not implemented is previewed."
**Describe the bug**
Some symbols such as cent, yen, or pounds are not yet implemented in the app symbols. When these symbols are typed and preview is pressed, the app crashes.

**To Reproduce**
Type the cent or yen symbols in the edit text and press preview. The app crashes.

**Expected behavior**
The app should not crash.

**Smartphone Info:**

|               | |
|---------------|-|
|Device

[2019-03-28 06:51] yashk2000 opened #98 "Implement more symbols."
**Describe the feature you'd like**
Some symbols such as cent, yen, pound are not yet implemented in the app. I would like to implement these symbols.

**Additional context**
I would also implement any other missing symbols that I find.

**Would you like to work on the issue?**

YES.

[2019-03-28 10:11] adityastic commented on #98
@yashk2000 good luck with that

[2019-03-29 02:36] yatri1609 commented on #83
@sparrow007 since there has been no activity since long I would like to take this up. :)

[2019-03-29 06:51] yatri1609 commented on #49
@iamareebjamal it's been long there is no activity on this PR so, I would like to work on this.:)

[2019-03-29 06:56] yashk2000 commented on #49
@yatri1609 I don't think this issue is relevant now. I have already sent a pr for Part 3. Part 2 and 4 are irrelevant as the device does not work that way. Part 1 is also not very relevant as the data can only be sent to a BLE Badge Device. No other device will accept the data and the name of the device is not a very useful info for the user.

[2019-03-29 07:02] yatri1609 commented on #49
Agreed it is not a useful information. And can you lead me to pr for part 2

[2019-03-29 07:05] yashk2000 commented on #49
In part two, instead of a progress bar, show a circular timer when the send button is pressed. You can add the circular timer to be shown until the data is sent by adding it to the thread where the button becomes non-clickable for 10 seconds.

[2019-03-29 07:06] yatri1609 commented on #49
Thank you @yashk2000 :) That is what I was exactly talking about.

[2019-03-29 13:06] sparrow007 commented on #83
@yatri1609  almost done

[2019-03-29 16:18] addiegupta opened #101 "Multiple bluetooth dialogs being created on rotation"
**Describe the bug**

The AlertDialog asking for bluetooth permission is being recreated on rotation of the device.

**To Reproduce**

1 Open the app
2 Bluetooth alert dialog pops up
2 Rotate the device
3 Dismiss a dialog
4 An AlertDialog is still present

**Expected behavior**

Only one dialog should be present

**Logs**

**Screenshots**

![ezgif com-video-to-gif](https://user-images.githubuserco

[2019-03-30 09:20] #93 closed

[2019-03-30 15:33] adityastic commented on #101
Just save the state and check for the changed state in oncreate. Well tested

[2019-03-30 16:20] sparrow007 opened #105 "No message shown on empty text preview click"
**Describe the bug**
There is no toast message when there is empty text and click on preview button.

**To Reproduce**
Click on preview button when no text written in edittext.

**Expected behavior**
There should be a toast message like "Write text for preview"

**Smartphone Info:**

|               | |
|---------------|-|
|Device         |Redmi 5A|
|Android Version|7.1.2    |

**Would you like to

[2019-03-30 16:21] yashk2000 commented on #105
Duplicate of #65. I am already working on it.

[2019-03-30 16:29] yashk2000 opened #106 "Visibility of badge in landscape mode."
**Describe the bug**
In landscape mode, the badge preview is not fully visible.

**To Reproduce**
Shift to landscape mode.

**Expected behavior**
Badge preview should be completely visible.

**Screenshots**

![screencap](https://user-images.githubusercontent.com/41234408/55278802-127d0280-5337-11e9-859d-a2f12f27ee05.png)

**Additional Context**
The size of the text "Badge Magic" also decreases on

[2019-03-30 16:56] sparrow007 commented on #105
@yashk2000 go ahead bro :)

[2019-03-30 16:56] #105 closed

[2019-03-30 19:52] #83 closed

[2019-03-30 19:52] #74 closed

[2019-03-30 20:04] #57 closed

[2019-03-30 20:37] yashk2000 opened #109 "Keyboard should go down on pressing the enter button on keyboard."
**Describe the bug**
When the enter button is pressed on the keyboard, no action takes place and the keyboard stays up.

**Expected behavior**
The keyboard should go down.

**Additional context**
@iamareebjamal should it be made such that when the keyboard enter button is pressed, the preview starts appearing on the preview badge?

**Would you like to work on the issue?**

YES.

[2019-03-31 03:18] adityastic commented on #106
Yes Sir, I you will to have to make it maintain the ratio to get this fixed.

[2019-03-31 04:43] yatri1609 opened #110 "Only one checkbox is allowed to be checked"
**Describe the bug**
While setting the animations either one of flash or marquee is only being checked, not both at the same time.

**To Reproduce**
1. Open app
2. Type some text
3. Click flash and then click marquee

**Expected behavior**
Both must be allowed to be checked at the same time

**Logs**
N/A

**Screenshots**
![flash](https://user-images.githubusercontent.com/34381723/55284874-f57b1a80

[2019-03-31 05:29] adityastic commented on #110
I made it that way xD

[2019-03-31 05:35] yashk2000 commented on #110
Actually, both boxes should be checkable. In the badge, flash and marquee can both be there at there the same time.

[2019-03-31 06:16] yatri1609 commented on #110
Exactly @yashk2000 I'll fix it no worries @adityastic

[2019-03-31 07:06] adityastic commented on #110
Cool. Make sure you also change the animation in the badge preview. It depends on the option for flash and marquee

[2019-03-31 07:07] yatri1609 commented on #110
@adityastic Yeah I will do that too

[2019-03-31 10:07] #49 closed

[2019-03-31 10:08] #106 closed

[2019-03-31 11:28] mohitm15 opened #112 "Typo in the readme file"
**Describe the chore**

There are some typos in the readme file

**Would you like to work on the issue?**

Working on it

[2019-03-31 13:09] psalmfill opened #114 "Changing Level or Mode when Preview Badge is displaying should take effect without having to click Preview Button to apply change"
**Describe the bug**

When text has been enter or image selected  and preview button clicked and preview Badge display active,
if Mode is change , preview Badge mode should change dynamically and also if speed is change Preview Badge speed should also be change dynamically without having to click the preview button to apply changes.

**To Reproduce**

Enter a text or select an image
click on previ

[2019-03-31 14:28] adityastic commented on #114
@psalmfill Sir. The preview button is not a toggle button, it is a click button which is there to preview the current mode and current speed.

[2019-03-31 14:53] psalmfill commented on #114
@adityastic I know it's not a toggle button.
What i mean is that,  as the preview Badge is in display process,  if speed is changed , the preview Badge  speed is changed instantly or if the mode is changed , the preview Badge mode changed instantly
Without having to click preview to apply the change.

[2019-04-01 03:38] adityastic commented on #114
@psalmfill great, good luck

[2019-04-01 17:28] #112 closed

[2019-04-01 17:29] #70 closed

[2019-04-02 03:37] akkywadhwa opened #118 "Browse more drawables"
**Describe the feature you'd like**
The user must be able to browse more drawable images to draw on the LED.

**Screenshots**

**Additional context**

**Would you like to work on the issue?**
Yes, I am taking up this issue.

[2019-04-03 07:28] liveHarshit opened #123 "Update gitter in readme and remove duplicate"

[2019-04-03 07:35] naman653 opened #126 "App not working in android Lollipop 5.1"
**Describe the bug**
App crashes as soon as it starts.

**To Reproduce**
Try to launch the app in Android 5.1.

**Expected behavior**
App should run without crash.

**Logs**
[code]

**Smartphone Info:**

|                  | |
|---------------|-|
|Device              | Intex Cloud Flash|
|Android Version| Lollipop 5.1    |

**Would you like to work on the issue?**

No.

[2019-04-03 08:09] naman653 commented on #123
This is already been implemented in #124.

[2019-04-03 08:18] naman653 opened #128 "No contribution guidelines."
**Describe the chore**
There should be contribution guidelines for developers in the docs.

**Would you like to work on the issue?**
Yes.

[2019-04-03 08:26] liveHarshit commented on #123
Mention this issue so it will close after PR get merged.

[2019-04-03 08:39] adityastic commented on #126
I would like to work on this issue. Downloading the platform in Android Studio, Thanks for the information

[2019-04-03 10:49] anhanh11001 opened #129 "App crash on clicking send twice"
**Describe the bug**
When user click send twice the app crashes

**Screenshots**
<img src="https://i.ibb.co/b7YHmkg/ezgif-2-cc6544cfac77.gif" width="300">

**Smartphone Info:**
Huawei Honor 7, API 24

**Would you like to work on the issue?**
Yes

[2019-04-03 10:52] anhanh11001 opened #130 "Drawable picked is not retained after screen rotation"
**Describe the bug**
After screen rotation, a drawable selected is not selected anymore and the display stops running

**Screenshots**
<img src="https://i.ibb.co/26Jm23F/56262482-383432592248036-3103403227601698816-n.png" width="300">
<img src="https://i.ibb.co/P4Y6Bnh/55875656-273681710230765-7810954591113052160-n.png" height="300">

**Would you like to work on the issue?**
Yes

[2019-04-03 11:06] anhanh11001 opened #132 "Flash is not working with left/right/up/down animation"
**Describe the bug**
Flash is not working with left/right/up/down animation, currently, it is only working with fixed

**Screenshots**
<img src="https://i.ibb.co/Jyk3KW6/56310267-2406842126016950-5889206779149025280-n.png" width="300">

**Would you like to work on the issue?**
Yes

[2019-04-03 11:09] adityastic commented on #132
Yes it has not been implemented. Go on

[2019-04-03 11:12] anhanh11001 opened #133 "Removing preview button in drawable section"
**Describe the feature you'd like**
Currently, in order to preview a drawable, the user has to select on that and click preview. I think the preview button can be removed. The animation can start running right after the user clicks into the drawable and it can stop when the user clicks into that drawable again. This would make some more space for recycler view of selecting drawable

**Screenshots*

[2019-04-03 11:14] akkywadhwa opened #134 "Inverted LED effect"
**Describe the feature you'd like**
For any character example "A", all the LEDs which were ON in normal mode would be turned off and vice versa.

**Screenshots**
![Screenshot_20190403-163530_Badge Magic](https://user-images.githubusercontent.com/666752/55474739-9ed93f00-562f-11e9-8d4e-55fda4b09bfa.jpg)

**Would you like to work on the issue?**
Yes, I am working on this and have completed the work

[2019-04-03 11:16] adityastic commented on #134
Looks Great

[2019-04-03 11:19] adityastic commented on #133
I am not the maintainer, I too am a contributor. You can work on this issue too, If you need any help let me know

[2019-04-03 11:22] akkywadhwa opened #135 "Drawable picked not retained in split screen mode"
**Describe the bug**
If the user selects the drawable and then switches to the split screen mode. The application de-selects the drawable.

**To Reproduce**
Read the description

**Expected behavior**
The selection must be retained.

**Would you like to work on the issue?**
Yes, I would like to work on this.

[2019-04-03 11:23] adityastic commented on #133
I just forgot, this is referenced in #114

[2019-04-03 11:25] adityastic commented on #135
Already Issued #130, Same issue

[2019-04-03 11:26] yashk2000 opened #136 "There should be an option to clear the preview."
**Describe the feature you'd like**
Currently, there is no option to clear the preview from the preview badge once preview is clicked. It can be changed but not cleared.
There should be a button which clears the preview on being clicked.

**Would you like to work on the issue?**

YES.

[2019-04-03 11:29] anhanh11001 commented on #133
@adityastic oh yeah, I'm not surprised that other contributors have also come up with that

[2019-04-03 11:29] #133 closed

[2019-04-03 14:35] anhanh11001 opened #139 "Cannot send the drawables"
**Describe the bug**
In the MessageActivity.kt, when here is a part of the code inside `send.setOnClickListener` when clicking Send button:
[code]
This means that currently the app only check if there is text to send, otherwise, it will a default drawable R.drawable.mix2 -> Cannot send a selected drawable

**Would you like to work on the issue?**
Yes

[2019-04-03 14:40] adityastic commented on #139
Yes, There need to be a design change before we can implement this, currently to fix this we need to make radio buttons for text and drawable and check which one is selected. This is against the experience, that is the reason I left it

[2019-04-03 14:43] yashk2000 commented on #139
@anhanh11001 I agree with @adityastic. This change does not simply require that empty edittext condition to be removed.

[2019-04-03 14:43] adityastic commented on #139
I am currently working on it. It was a part of the drawable section which was merged some days before, please let me complete it

[2019-04-03 14:51] anhanh11001 commented on #139
@yashk2000 Yeah I agree that there is no need to remove the empty edittext condition and I didn't mean it either. What I'm suggesting is to add another boolean statement to check whether the user has previewed and chosen a drawable so that we can send it.
@adityastic I don't quite understand what do you mean by "against the experience". Can you explain it? Thank you and let me know if I can help a

[2019-04-03 14:55] yashk2000 opened #140 "App crashing if edittext is empty."
**Describe the bug**
If edit text is empty, the app is crashing on pressing send.

**Expected behavior**
On pressing send when the edittext is empty, the default bitmap should be sent to the device.

**Would you like to work on the issue?**

YES.

[2019-04-03 14:56] yashk2000 opened #141 "Display the default bitmap as preview when edittext is empty."
**Describe the feature you'd like**
If the edittext is empty and the preview button is clicked, the default bitmap should be shown as the preview as that is what is displayed on the real device.

**Would you like to work on the issue?**

YES.

[2019-04-03 15:00] adityastic commented on #139
@anhanh11001 The app needs to be clean in terms of experience, I am planning to add different sections for both the features. The Text and Drawable section will be separated from this screen, currently all the app functions are inside this single activity, which makes it harder for people to use it.

[2019-04-03 16:15] yashk2000 commented on #65
This is now irrelevant as when the edittext is empty, a default bitmap is shown on the device. This shall be solved by #141.

[2019-04-03 16:15] #65 closed

[2019-04-03 16:36] #140 closed

[2019-04-03 16:42] #126 closed

[2019-04-03 16:52] #123 closed

[2019-04-03 17:30] #132 closed

[2019-04-03 17:35] #135 closed

[2019-04-03 17:40] anhanh11001 opened #144 "Animation running left/right/up/down doesn't go over the screen"
**Describe the bug**
When choosing animation on left/right/up/down, the drawable/words don't go all the way but only go half of the screen and then stop

**Screenshots**
<img src="https://i.ibb.co/1qrz42q/ezgif-4-3527443b7b51.gif" width="300">

**Would you like to work on the issue?**
Yes

[2019-04-03 17:42] anhanh11001 commented on #139
@adityastic ok, I will close this issue now but I think if you want to split Text and Drawable into different sections, which sounds like a big change then I think you can open an issue so that other contributors like me can also discuss on that!

[2019-04-03 17:42] #139 closed

[2019-04-03 17:43] adityastic commented on #139
@anhanh11001 sure. Will do it tomorrow

[2019-04-03 17:49] adityastic commented on #144
Yes sir, this might be great. Good luck

[2019-04-03 19:33] #129 closed

[2019-04-04 02:33] adityastic opened #148 "Preview does not hold its state when screen is rotated"
**Describe the bug**
When the screen is rotated, the Badge Preview does not hold its state anymore

**Screenshots**
![ss0](https://user-images.githubusercontent.com/11988517/55525785-0df67800-56b0-11e9-92d8-6b69b23949a3.jpg)
When Screen rotated:
![ss1](https://user-images.githubusercontent.com/11988517/55525789-1058d200-56b0-11e9-81f7-be541454639a.jpg)

**Would you like to work on the issue?**
Yep

[2019-04-04 02:34] anhanh11001 opened #149 "Add options to change the color of the LED"
**Describe the feature you'd like**
Add options to change the color of the LED

**Would you like to work on the issue?**
Yes

[2019-04-04 02:38] yashk2000 commented on #149
How well the color change in LED be transferred to the real device?

[2019-04-04 02:44] anhanh11001 commented on #149
@yashk2000 to be honest, I don't know. I won't say it is impossible or not because I haven't worked with the hardware yet. But if the hardware can work with the LED light changes than I think that should be a different issue/PR
@iamareebjamal please gives your thought?

[2019-04-04 02:58] yashk2000 commented on #149
I think some changes in the hardware also will be needed for this. As of yet, I have seen no option for different colors. I guess we should wait before Implementing this feature because if it cannot be done in the hardware, it is of no use.

[2019-04-04 03:00] yashk2000 commented on #149
And since it is a LED hardware, it will support different colors for sure, but we need to figure out how before implementing this feature.

[2019-04-04 03:11] adityastic opened #150 "Feature for Theme Support"
**Describe the feature you'd like**
Currently, The app does not have any themes. I would like to add options in the app to choose the base theme between
- Automatic by current time
- Day
- Night
- Night when Battery Low

And the Accents for the app between several color combinations
These Accents will Cover:
- Accents around the complete application
- Accents of the preview badge

**Would you like

[2019-04-04 03:19] adityastic opened #151 "Different Sections for Text and Drawable's inside the app."
**Describe the feature you'd like**
Currently, both the text and drawable are in the same screen. Different fragments will allow the user to have a better experience when selecting a text or a drawable.

**Additional context**
This will solve the issue of not being able to send the selected drawable to the LED Badge

**Would you like to work on the issue?**
Yep, Im in

[2019-04-04 03:53] adityastic opened #152 "Adding the remaining animations"
**Feature Description**
Current Animations are not working in preview:
- Animation
- Laser
- Snowflake
- Picture

**Animations I plan to work on:**
- [x] Animation
- [x] Laser

**Animations @anhanh11001 will to work on:**
- [x] Snowflake
- [x] Picture

**Would you like to work on the issue?**
Yes

[2019-04-04 17:06] #144 closed

[2019-04-04 21:26] iamareebjamal opened #154 "Remove code smells from app"
- [ ] Remove any use of `Any`. This is not a dynamic language project, there is no need to return `Any` type from anywhere
- [ ] Use List instead of ArrayList. NEVER return or accept implementation details/concrete classes, use abstractions
- [ ] Remove casts wherever used. There is not a single instance where code written by us will use a cast. As with any use of cast by now in this project, it i

[2019-04-05 00:51] adityastic commented on #154
Would love to take this issue

[2019-04-05 01:52] adityastic opened #155 "LED Badge preview's left/right animation has issues"
**Describe the bug**
The badge previews the selected option but it mirrors the image on the other half of the display when the image is on the edges

**To Reproduce**
1. Select Left or Right animation

**Expected behavior**
it should leave the screen and then reappear from the other side after an interval

**Screenshots**
![iss](https://user-images.githubusercontent.com/11988517/55599017-5034bd80-

[2019-04-05 10:11] #154 closed

[2019-04-05 11:26] anhanh11001 opened #158 "Add LEFT-RIGHT Animation"
**Describe the feature you'd like**
Add an animation for drawable/text to toggle by going the the left and the turn right when meet the Preview edge and vice versa
Also, I will come up with a better name if possible
**Would you like to work on the issue?**
Yes

[2019-04-05 11:30] anhanh11001 commented on #110
@yatri1609 are you still working on this or can I take up on this as I find this is a pretty fast issue to solve

[2019-04-05 11:33] adityastic commented on #158
I'm afraid the hardware does not have this included inside it. It won't be possible unless the hardware supports it.

[2019-04-05 11:35] adityastic commented on #149
@yashk2000 The LED's with different color are sold differently.

[2019-04-05 12:33] #141 closed

[2019-04-05 14:07] #97 closed

[2019-04-05 14:55] yatri1609 commented on #110
@anhanh11001 yes I'm please look at other issues.

[2019-04-05 16:28] #155 closed

[2019-04-05 16:45] #148 closed

[2019-04-06 00:26] anhanh11001 opened #159 "Animations goes wrong on screen rotation"
**Describe the bug**
Animation goes wrong on screen rotation (LEFT,RIGHT)

**Screenshots**
<img src="https://i.ibb.co/DtgBXc5/ezgif-4-c755fc4214d8.gif" width="300">

**Would you like to work on the issue?**
Yes

[2019-04-06 00:27] anhanh11001 opened #160 "Flash or Marquee animation are not retained on screen rotation"
**Describe the bug**
Flash or Marquee animation feature are not retained on screen rotation

**Screenshots**
<img src="https://i.ibb.co/YBjfBhM/ezgif-4-d908b87ce2fd.gif" width="300">

**Would you like to work on the issue?**
Yes

[2019-04-06 02:02] #160 closed

[2019-04-06 06:44] theLimitBreaker opened #163 "Sending of byte data when No data (text or bitmap) selected"
**Describe the bug**
Byte data is being sent when no data(text or byte date) is selected

**To Reproduce**
Click on `send` button without selecting anything

**Expected behavior**
check should be placed before emitting data.
A dialog or prompt should be shown to user to select data

**Logs**
`
2019-04-06 12:13:03.154 19300-19300/com.nilhcem.blenamebadge I/MessagePresenter: ByteData: [77616E6700000

[2019-04-06 06:48] yashk2000 commented on #163
That is supposed to happen. If send is clicked when no data is selected, a default bitmap appears on the device. I have a physical BLE device and have tested this on that. Please close the issue as it is not relevant.

[2019-04-06 07:00] theLimitBreaker opened #164 "[Refractor] Drawable Adapter"
**Describe the chore**

- Currently in `DrawableAdapter` no good practices are followed
For example

[code]
### Problems I am going to fix in this
- All the logic is placed in `onBindViewHolder`. I would separate the logic in ViewHolder (Good Practices)
- Apply Kotlin style (use of `when`  expression, use shorter and concise code) )
- To change the background color without using `notifyDataSetChan

[2019-04-06 07:06] theLimitBreaker commented on #163
I agree with `default` message (text or bitmap) shouldn't separate `Test button` should be placed for users (To avoid confusion) . I didn't select any data and its sending default . User should be notified .
Make `Test Button` for showing default message. Show user `Default Bitmap will be shown`

[2019-04-06 07:11] yashk2000 commented on #163
Not needed. That will make the UI more clustered. When the user presses preview without entering any data, the default bitmap is shown. That's enough indication what will be shown when send is pressed.

[2019-04-06 07:22] theLimitBreaker commented on #163
ok then . closing this issue

[2019-04-06 07:22] #163 closed

[2019-04-06 07:48] theLimitBreaker opened #165 "Improper logic in startScan(), Scanning not being performed"
**Describe the bug**
Due to improper logic in startScan(). Scan for bluetooth devices doesn't happen
default value of  `isScanning is false`
function returns without scanning as condition given is `!isScanning`

[code]

**Expected behavior**
scan of devices must be performed

**ScreenShot**
No Toast is shown for `No devices found` as scan not being initiated

<img src="https://user-images.githubus

[2019-04-06 08:56] theLimitBreaker commented on #16
@mariobehling  There are animations like `Bounce` , `Rotate X` , `Rotate Y` or `Blink`  which are still not in preview listv. Could I add these and work on these ?

[2019-04-06 09:13] yashk2000 commented on #16
@theLimitBreaker when you implement animations, make sure that they will appear on the device too.

[2019-04-06 09:31] adityastic commented on #16
@theLimitBreaker the hardware has support for 8 animations currently. It would be better if you could complete them

[2019-04-06 10:29] theLimitBreaker commented on #16
@adityastic  I don't understand the limit of animations being 8 . Could you please elaborate ?

[2019-04-06 10:57] adityastic commented on #16
@theLimitBreaker The hardware has support for 8 animations currently. Check the specifications of the hardware, it says compatible with 8 modes. Example, If we send 1 from bluetooth it sets the animation to 1, if we set 8 through bluetooth, it sets it to 8. There is no 9th option supported by the device.

[2019-04-06 10:58] adityastic commented on #16
@theLimitBreaker the preview just tries to mimic the exact animations those animations are not currently being sent to the hardware right now

[2019-04-06 13:32] yatri1609 opened #168 "Make badge preview fixes"
**Describe the feature you'd like**
make badge preview fixed and other items scroll-able only when the screen is in portrait mode.

**Additional context**
It will allow user to see the preview all the time.

**Would you like to work on the issue?**
YES

[2019-04-06 13:34] yatri1609 opened #169 "Make only one Preview button"
**Describe the feature you'd like**
Only one preview button will make the app more user friendly while having two preview button doesn't look good for now.

**Additional context**
The preview button will be besides the current Send button.

**Would you like to work on the issue?**
YES

[2019-04-06 13:38] yashk2000 commented on #169
@yatri1609 I do not think it should be done. Either text or bitmap can be previewed. If a single button is made, it will be confusing for the user to know that only one of the items can be previewed at once. For now, it will be better to let there be 2 separate buttons.
@adityastic can you also please give your views?

[2019-04-06 13:48] yatri1609 commented on #169
I think having 1 preview button also makes it clear enough for user that just one can be previewed. I don't think there is need of two buttons as such.

[2019-04-06 13:53] yashk2000 commented on #169
How is it clear with just one button? If you place just one button, the user might think that both the things can be previewed at once. It won't be very good UX to use only one button.

[2019-04-06 13:55] #128 closed

[2019-04-06 14:02] yatri1609 commented on #169
I think that the main aim of having a preview button is to preview the look of the badge and having one makes UI more sleek and I think we can put a toast message that currently text is being previewed or so. @iamareebjamal @CloudyPadmal What do you think of having just one preview button ?

[2019-04-06 14:02] yatri1609 opened #170 "Either text or drawable must be enabled"
**Describe the bug**
Currently when in portrait mode, both can be selected but when we write down text and preview it the drawable highlight must go away.

**To Reproduce**
1. Open app
2. click on any drawable and preview it.
3. Type any text and preview it

Here still the drawable will be highlighted.

**Expected behavior**
The drawable must not be highlighted once the text is previewed.

**Logs*

[2019-04-06 14:11] adityastic commented on #169
Hey guys, check #151. It fixes this issue of buttons. I think this might be the better solution. What do you guys say? @yashk2000 @yatri1609 @iamareebjamal

[2019-04-06 14:12] adityastic commented on #170
#151 will fix it @yatri1609 . Different sections will make the app cleaner

[2019-04-06 14:13] yashk2000 commented on #169
@adityastic that's what I think should be done. That is the only way to make the app less clustered.

[2019-04-06 14:15] #110 closed

[2019-04-06 14:17] yatri1609 commented on #170
@CloudyPadmal @iamareebjamal Do you think I should move forward with this?

[2019-04-06 14:46] yatri1609 commented on #169
@yashk2000 @adityastic I think we should also take some ideas from the mentors. Also adding bottom tab is a good idea I think, and @adityastic we both can work together on it.

[2019-04-06 14:49] adityastic commented on #169
@yatri1609 yes, we can create a bottom navigation with viewpager. @yashk2000, you and me, all three of us can work on this. This would be an amazing experience

[2019-04-06 14:55] yatri1609 commented on #169
Great ! @adityastic  I'll start with the bottom tab basic layout then and we can keep improvising it all through out, and put the issue breakdown and milestones.

[2019-04-06 14:56] adityastic commented on #169
ok, great. get the bottombar working.

[2019-04-07 05:47] adityastic commented on #169
@yatri1609 is the bottombar done?

[2019-04-07 06:31] yashk2000 commented on #169
@adityastic if you were already working on the bottom bar and are already done with it, I guess you can open a pr for that.

[2019-04-07 06:31] theLimitBreaker commented on #165
@iamareebjamal  please review

[2019-04-07 06:32] adityastic commented on #169
@yashk2000 alright

[2019-04-07 06:59] naman653 opened #172 "Preview without bluetooth permission"
**Describe the feature you'd like**
A user should be able to preview the badge even if the Bluetooth is disabled.

**Would you like to work on the issue?**
Yes

[2019-04-07 07:39] theLimitBreaker commented on #109
Also when `Preview button` for text is clicked , keyboard still stays up. This could also be included

[2019-04-07 07:39] theLimitBreaker commented on #109
@yashk2000  are you still working on this ?

[2019-04-07 09:12] iamareebjamal commented on #165
Peer reviews first

[2019-04-07 09:17] yashk2000 commented on #109
Yes. I am working on this.

[2019-04-07 09:46] theLimitBreaker commented on #109
cool  then please consider this too

[2019-04-07 09:47] theLimitBreaker commented on #165
@adityastic please review

[2019-04-07 10:51] KaenDagger opened #175 "Implement a Full screen preview of Animation"
**Describe the feature you'd like**
Implement a Full screen preview of Animation

**Additional context**
This will give more closer view to real LED Badge

**Would you like to work on the issue?**

Yes

[2019-04-07 16:47] #164 closed

[2019-04-08 05:31] theLimitBreaker commented on #16
@adityastic  I am unable to see the specifications on website mentioned in README.md . Where can i see these spefications of hardware

[2019-04-08 10:31] #158 closed

[2019-04-08 10:31] anhanh11001 commented on #152
Are you still working on this or can we split the work in here so that I can work on making 1 or 2 animations?

[2019-04-08 12:40] adityastic commented on #152
@anhanh11001 Currently 4 animations are remaining:
Animation
Laser
Picture
Snowflake

Let's divide it. I can work on Animation and Laser and you can work on Picture and Snowflake

[2019-04-09 03:02] #172 closed

[2019-04-09 03:06] #165 closed

[2019-04-10 02:10] adityastic commented on #175
Hey Sir, I didn't get that. If you rotate the device, the preview almost covers the whole device

[2019-04-10 02:13] adityastic commented on #134
@akkywadhwa any updates?

[2019-04-10 02:14] adityastic commented on #101
@addiegupta are you working on this issue?

[2019-04-10 09:32] #159 closed

[2019-04-10 12:39] adityastic commented on #134
@iamareebjamal, can I take this issue?

[2019-04-10 13:44] adityastic commented on #168
Hey, can you explain me what the issue is about?

[2019-04-10 20:25] iamareebjamal commented on #134
Go ahead

[2019-04-11 18:54] yatri1609 commented on #168
Currently when the screen is vertical the badge preview screen also gets scrolled when we scroll for options and all so I think making it fixed for portrait mode would be a good idea.

[2019-04-11 23:53] adityastic commented on #168
@yatri1609 oh ok. It is fixed in the latest PR by yash

[2019-04-13 04:26] theLimitBreaker commented on #175
Hello @adityastic  sorry for being late to respond
I meant this, Its taking full screen . Currently a part of other buttons is still visible

![ezgif com-video-to-gif(3)](https://user-images.githubusercontent.com/24780524/56074535-5578b480-5dd2-11e9-91b0-df1c38979fa8.gif)

[2019-04-13 04:40] adityastic commented on #175
Oh. That's great

[2019-04-13 04:40] adityastic commented on #175
Good luck with it

[2019-04-13 08:43] #101 closed

[2019-04-13 18:41] #114 closed

[2019-04-13 18:41] #136 closed

[2019-04-13 18:41] #151 closed

[2019-04-13 18:41] #168 closed

[2019-04-13 18:41] #169 closed

[2019-04-13 18:41] #170 closed

[2019-04-13 19:03] adityastic opened #184 "Automatic Preview not getting triggered for Spinners and Checkboxes"
**Describe the bug**
The Automatic Preview Does not work for spinners and checkboxes

**Expected behavior**
Automatic Preview should work on all widgets

**Would you like to work on the issue?**
YES

[2019-04-14 12:02] yashk2000 opened #186 "Keyboard does not pop up automatically when shifting to text mode."
**Describe the bug**
On shifting from drawble to text mode, keyboard does not pop up automatically.

**Expected behavior**
Keyboard should pop up automatically.

**Would you like to work on the issue?**

YES.

[2019-04-14 12:47] adityastic commented on #186
@yashk2000 Fix #109 with this too

[2019-04-14 16:02] yashk2000 commented on #186
@adityastic I'll do that.

[2019-04-14 16:17] #184 closed

[2019-04-15 02:42] #134 closed

[2019-04-15 04:25] adityastic opened #188 "Migration to Android Jetpack"
**Describe the chore**
Let us migrate the source to Android Jetpack

**Would you like to work on the issue?**
Yes Sir. But all the current PR's may have merge conflicts. I will do as @iamareebjamal you suggest

[2019-04-15 04:37] adityastic opened #189 "Single Code for Text and Bitmaps"
**Describe the Bug**
Currently, Sending the bytes to the device is different for Text and Drawable. I would suggest to create a common code base for the above.

**Additional context**
The code for text has to be altered completely but I can assure creating a single class that can handle both text and drawable hexadecimals.

So, I will first try to convert all the text into hexadecimal strings and

[2019-04-15 13:07] #188 closed

[2019-04-15 16:59] yashk2000 opened #192 "Keyboard pops up on screen rotation in drawables mode."
**Describe the bug**
When the phone is rotated in drawable mode, the keyboard pops up.

**To Reproduce**
Shift to drawables mode, rotate the phone.

**Expected behavior**
The keyboard should not pop up.

**Would you like to work on the issue?**
YES.

[2019-04-15 17:19] yashk2000 opened #193 "Update screenshots of the app in README.md"
**Describe the chore**
The screenshot of the app in the README.md is now outdated. NEw screenshots of the latest UI should be added in the README.md file.

**Would you like to work on the issue?**
YES.

[2019-04-15 17:40] adityastic commented on #193
Yes that should be done.

[2019-04-15 17:56] adityastic commented on #192
Why not just add it to the current pr. The issue is of same genre

[2019-04-16 01:19] yashk2000 commented on #192
@adityastic I shall try to fix #130 too. That's why I plan on making a separate pr.

[2019-04-16 01:20] adityastic commented on #192
Great. That would be a better idea. Good luck

[2019-04-16 09:09] #109 closed

[2019-04-16 09:09] #186 closed

[2019-04-17 07:24] #189 closed

[2019-04-17 08:37] #77 closed

[2019-04-17 08:38] #193 closed

[2019-04-17 10:18] yashk2000 opened #197 "Improve look of readme."
**Describe the chore**
The app introduction looks a bit weird in the readme. It should be fixed.

**Would you like to work on the issue?**

YES.

[2019-04-17 13:20] adityastic commented on #192
@yashk2000 Its fixed by me already

[2019-04-17 13:27] adityastic commented on #192
@yashk2000 I accidentally fixed your issue. Im so sorry

[2019-04-17 13:49] yashk2000 commented on #192
No problem @adityastic. I'll close this issue.

[2019-04-17 13:49] #192 closed

[2019-04-17 14:14] #197 closed

[2019-04-17 14:20] yashk2000 opened #199 "Creating app shortcuts for the app."
**Describe the feature you'd like**
When the app icon is long pressed, there are no shortcuts. Shortcuts to directly enter the text or drawable mode can be provided.

**Additional context**
@iamareebjamal  @adityastic what are your views? Should I proceed with this?

**Would you like to work on the issue?**
YES.

[2019-04-17 14:51] adityastic commented on #199
As a feature I would love to implement it. But currently our app only has a single screens. App shortcuts were made to resolve the navigation depth issue

[2019-04-17 14:52] adityastic commented on #199
Let me know your thoughts on it @yashk2000 . This feature is great, but is it necessary?

[2019-04-17 16:24] yatri1609 commented on #15
@iamareebjamal I have a few doubts regarding the saving of badge. I wanted to know in which format do we want to save the preview?

[2019-04-17 16:25] iamareebjamal commented on #15
Why do we need to save preview?

[2019-04-17 16:26] yatri1609 commented on #15
Sorry not preview the badge. My bad! @iamareebjamal

[2019-04-17 16:43] iamareebjamal commented on #15
JSON, as discussed on the preview. Serialized using tape

[2019-04-17 18:12] adityastic commented on #15
This issue has been occupied since long time, can I also implement my own version of it using gson or moshi ? @iamareebjamal

[2019-04-17 18:17] iamareebjamal commented on #15
Go ahead, use moshi

[2019-04-17 18:18] adityastic commented on #15
@iamareebjamal thank you

[2019-04-17 18:22] adityastic commented on #15
@iamareebjamal I also need advice regarding the navigation options inside the app. As the save and export feature need to have a recycler view to give the ability to display and select the saved configuration should I use tablayout, viewpager with indicator, navigation drawer or bottombar. Please suggest me the preferred and perfect option for this scenario

[2019-04-17 18:30] iamareebjamal commented on #15
For now, just an icon in the action bar will do

[2019-04-17 18:48] adityastic commented on #15
@iamareebjamal alright sir

[2019-04-18 03:04] yashk2000 opened #200 "Loader not being displayed on clicking send."
**Describe the bug**
The loader is not being displayed on clicking send.

**Expected behavior**
Loader should be displayed.

**Would you like to work on the issue?**
YES.

[2019-04-18 08:07] #200 closed

[2019-04-19 12:16] adityastic commented on #15
@iamareebjamal Sorry for the late reply, I was having an exam today. So here is a sneak peak of what I have created.

![ezgif com-video-to-gif-4](https://user-images.githubusercontent.com/11988517/56423385-773dd400-62c9-11e9-861b-258dd261cedb.gif)

**NOTE: On loading the configuration, we cannot recover the text or the drawable selected**

Features:
1. Can share configuration
2. Can save and load

[2019-04-19 12:18] adityastic commented on #15
@iamareebjamal please share on thoughts on this sir.

[2019-04-19 12:30] iamareebjamal commented on #15
I don't think each badge should be kept in a separate file. I think several bades can be grouped in one file. Like a sticker pack. @mariobehling can clear this up

[2019-04-19 12:38] adityastic commented on #15
@iamareebjamal yes that can be done, but we have an issue with sending the data to the device in this case. It is because we cannot convert the hexadecimals back to the text. we need a separate section which does not depend on text or drawables.

[2019-04-19 13:41] iamareebjamal commented on #15
Why can't we convert hexadecimals to text?

[2019-04-19 13:58] yatri1609 commented on #15
@mariobehling @CloudyPadmal @iamareebjamal I was already working on this issue. So kindly let me work on this. Just because I have end semester exams doesn't mean I am not working on it.

[2019-04-19 14:02] adityastic commented on #15
@iamareebjamal currently the preview and the hardware accepts hexadecimal arrays. We convert the text or drawable to hexadecimal strings using our helper classes. We do not save the text or the position of the drawable because that would not be feasible, therefore we save the hexadecimal string itself. Now, if we want to convert the hexadecimal strings to text or drawable, we would have to brute f

[2019-04-19 15:49] iamareebjamal commented on #15
So why not save the text and not hexadecimal string?

Also, why is the conversion of text a one way function?

[2019-04-19 16:16] adityastic commented on #15
@iamareebjamal if we save the text that will not be generic. Hexadecimal strings are the general form which is same for both text and drawables.

Conversion of text is not a one way function, neither is convertion of drawables. But when you get the Hexadecimal strings from the file, you first need to interpret whether it is a text or a drawable. If it is a drawable, we need to create Hexadecimal o

[2019-04-19 16:18] adityastic commented on #15
As when a user shares a custom drawable which is not currently present in the app, it will not be able to select that drawable, as it is not present inside the app. But we want to support people sharing and creating custom text or drawable

[2019-04-19 16:21] adityastic commented on #15
Therefore if we create another section that targets the hexadecimal strings directly, these hexadecimal strings are the base of both text and drawable, this section would be able to handle any hexadecimal string including custom drawables or texts

[2019-04-20 06:37] adityastic commented on #152
@anhanh11001 are you planning to work on Picture animation mode?

[2019-04-20 06:38] yashk2000 opened #203 "Issue when edittext is empty and send is clicked."
**Describe the bug**
When edit text is empty and send is clicked, data is sent to the device, but nothing is being displayed.

**To Reproduce**
Click send when edit text is empty.

**Expected behavior**
A default message or bitmap should be displayed or a toast should be shown, telling the user that edittext cannot be empty.

**Additional context**
@adityastic @iamareebjamal should I display a def

[2019-04-20 06:41] adityastic commented on #203
Toast would be a great idea

[2019-04-20 06:43] yashk2000 commented on #203
Ok.

[2019-04-20 15:14] adityastic commented on #15
@iamareebjamal should I move forward with this idea sir?. I will assure you to create something which will help in the betterment of this application

[2019-04-20 15:20] iamareebjamal commented on #15
I'll understand the issue with one way conversion first and then move ahead. You can continue with generic implementation

[2019-04-20 15:30] adityastic commented on #15
@iamareebjamal Great Sir, I will go ahead and create a demo application which will portray how the different section will work. Thank you for your time

[2019-04-21 16:37] adityastic commented on #15
@iamareebjamal This is the progress so far.
![ezgif com-video-to-gif-5](https://user-images.githubusercontent.com/11988517/56472870-a9923180-6481-11e9-98a6-dc998674b193.gif)

Features:
[x] Save Shapes or Texts
[x] Sharing Shapes or Texts with Friends using any medium that supports txt files
[x] Import Shared Files using the + button in the action bar
[x] A Separate Section to Handle Saved or Impor

[2019-04-21 16:39] adityastic commented on #15
@yashk2000 @naman653 @ShridharGoel let me know your feedback on this

[2019-04-21 23:12] anhanh11001 commented on #152
@adityastic will send the PR tomorrow, I was in the test week last week so I didn't have time to do anything, will continue to work from now on!!

[2019-04-21 23:41] adityastic commented on #152
@anhanh11001 great

[2019-04-22 06:24] yashk2000 commented on #15
@adityastic looks good. After you load a saved badge and click the send button, is data sent to the device?

[2019-04-22 06:35] adityastic commented on #15
@yashk2000 it works, you can try it yourself. https://github.com/adityastic/badge-magic-android/tree/saveexport?files=1

[2019-04-22 06:44] yashk2000 commented on #15
@iamareebjamal @adityastic it works well.

[2019-04-22 06:47] adityastic commented on #15
Great. Let's wait for @iamareebjamal sir to reply

[2019-04-22 06:47] iamareebjamal commented on #15
Send a PR

[2019-04-22 06:51] adityastic commented on #15
@iamareebjamal on it

[2019-04-24 08:21] #15 closed

[2019-04-24 09:58] yashk2000 opened #205 "Build of the app is failing."
**Describe the bug**
The build of the app is failing.

**Would you like to work on the issue?**

YES.

[2019-04-24 12:32] anhanh11001 opened #207 "Discussion on UI/UX design + navigation of the app"
Currently, the latest update of the app contains some component that I find not really user-friendly, at least when I see myself as a user.
1. I took me a while to realize that FAB button is used to send the text/drawable + there is no indication of sending, especially on sending empty text or drawables (a toast is already ok). Personally, I prefer the old "SEND" button to this one. I think there

[2019-04-24 12:48] adityastic commented on #207
@anhanh11001 I Included the FAB Button because I had to send the configuration according to the selected viewpager item. If we get back the send button, we need to have a button which is present on both the fragments. FAB button made it a lot easier

*Issues if we create separate activity for saved configurations*
- you cannot recover the text or drawable from the hexadecimal strings. Hexadecimal

[2019-04-24 12:50] adityastic commented on #207
@anhanh11001 an animation with the fab while sending would be a great idea though

[2019-04-24 13:34] adityastic opened #208 "Navigation between fragments"
**Describe the feature you'd like**
Adding Bottombar for navigation between text/drawable and saved fragments

**Screenshots**
Here is a demo with bottombar.
![bottombadge](https://user-images.githubusercontent.com/11988517/56663329-7343f480-66c3-11e9-9b10-22fc3b1c2ed8.gif)

**Additional context**
Currently the user will not recognise if there is another section which can be accessed by swiping to

[2019-04-24 13:35] adityastic commented on #207
@anhanh11001 I've proposed to add a bottom bar, let me know your thoughts on it

[2019-04-24 15:01] anhanh11001 opened #209 "Horizontal variation for the app"
**Describe the feature you'd like**
Currently, the horizontal view of the app is really bad as space is not used sufficiently

**Screenshots**
Current view
<img src="https://i.ibb.co/qpMLqHD/57821678-1553958598067566-6494120397003292672-n.jpg" alt="57821678-1553958598067566-6494120397003292672-n" border="0">
<img src="https://i.ibb.co/KmjTzRS/58939919-2625309827542308-9175522390325592064-n.jpg" al

[2019-04-24 15:06] anhanh11001 commented on #207
I think a bottom bar is a good solution

[2019-04-24 15:11] anhanh11001 commented on #207
I get your point on FAB now, then I'll think on a solution. I think a toast message is ok but some kind of loading indicator should be better.

[2019-04-24 15:28] adityastic commented on #207
@anhanh11001 yes sir, animations ftw

[2019-04-24 15:29] adityastic commented on #209
Yeah, another layout would be a nice idea. We are not utilizing the space correctly

[2019-04-25 01:10] adityastic commented on #98
@yashk2000 any updates on this?

[2019-04-25 06:36] anhanh11001 opened #211 "App crash on saving in horizontal screen"
**Describe the bug**
On horizontal screen, app crash when users try to save a configuration

**Screenshots**
<img src="https://i.ibb.co/VLZQjWt/ezgif-4-ab2d37d00807.gif" alt="ezgif-4-ab2d37d00807" border="0">

**Would you like to work on the issue?**
Yes

[2019-04-25 06:57] adityastic commented on #211
@anhanh11001 any updates on the picture animation?

[2019-04-25 07:01] adityastic commented on #208
@iamareebjamal suggestions sir?

[2019-04-25 08:05] anhanh11001 commented on #211
Actually I'm having a bit of problem on that, it is pretty hard for me, I'm doing some refractoring with the Badge Preview class

[2019-04-25 08:05] anhanh11001 commented on #211
I'm in class but I will private message you later to discuss on that

[2019-04-25 08:06] adityastic commented on #211
Cool

[2019-04-25 12:32] yashk2000 opened #214 "Keyboard stays up even on shifting to saved configuration section."
**Describe the bug**
If the keyboard is on the screen while in the text section, and then user shifts to the saved configurations section, the keyboard stays on the screen.

**To Reproduce**
Open the app. The keyboard will already be on the screen. Now directly shift to the saved configuration section. The keyboard does not go down.

**Expected behavior**
The keyboard should go down.

**Would you

[2019-04-25 12:39] yashk2000 opened #215 "Preview after saved configuration is deleted."
**Describe the bug**
If a saved configuration is being previewed and is deleted, the preview stays on even after the configuration is deleted.

**To Reproduce**
Preview a configuration. Delete it. The preview is still displayed.

**Expected behavior**
If the configuration is deleted, the preview should also be cleared.

**Would you like to work on the issue?**
YES.

[2019-04-25 12:42] yashk2000 opened #216 "Back press from saved section should lead back to main section."
**Describe the feature you'd like**
Currently, on clicking the back press in the saved section, the app exits. Instead, it should be directed back to the main activity.

**Would you like to work on the issue?**
YES.

[2019-04-25 12:43] yashk2000 commented on #216
@adityastic @anhanh11001 what are your views on this?

[2019-04-25 12:45] adityastic commented on #216
If we have a bottom bar for navigation, this is not needed

[2019-04-25 12:47] yashk2000 commented on #216
Yeah, that's right. I'll close this.

[2019-04-25 12:47] #216 closed

[2019-04-25 16:14] yashk2000 commented on #98
I am working on it. I have implemented a few symbols. Will send a pr once few more are done. I will keep updating the list with any unimplemented character I find after sending the pr also.

[2019-04-25 16:15] adityastic commented on #98
@yashk2000 great.

[2019-04-25 17:26] #205 closed

[2019-04-25 20:12] #208 closed

[2019-04-26 03:27] adityastic commented on #207
Ohk, so after Fab Animation and Bottom Bar what else can be improved? Suggestions plz @yashk2000 @anhanh11001

[2019-04-26 03:27] adityastic commented on #207
@shridhargoel

[2019-04-26 03:27] adityastic commented on #207
@yatri1609

[2019-04-26 03:28] adityastic commented on #207
@theLimitBreaker

[2019-04-26 09:28] anhanh11001 opened #219 "Refractoring the codebase"
**Describe the bug**
Currently, there are some following improvements that can be made to improve the codebase:
- Extract resource (dimen, string,...)
- Refractor on naming
- Redundant methods (some methods can be merge into a shorter one)
- Unnecessary variable creation
- Some variable/function can be private
- Put hard-coded drawable file into a different folder:
Currently, we are calling defaul

[2019-04-26 11:38] adityastic commented on #219
Yes, I did saw the Resource Class you created and linked it to the application context. That would really simplify the code.

[2019-04-26 11:46] adityastic commented on #219
I'd still suggest you to use extension functions. https://stackoverflow.com/questions/35317940/when-should-one-prefer-kotlin-extension-functions, have a read.

[2019-04-26 11:53] adityastic commented on #219
About the Drawables, If we want to store them to a folder. We need to either make the user download the drawables or copy them to the folder on the first run.
Letting the users download configuration from the server was in my GSoC proposal, @CloudyPadmal said me to focus on making the application stable first. If you copy it to a folder, you still have to keep it inside the application.

[2019-04-26 12:13] adityastic commented on #118
@iamareebjamal Can I take this over?

[2019-04-26 12:14] adityastic commented on #149
@anhanh11001 can we close this?

[2019-04-26 12:14] adityastic commented on #175
@theLimitBreaker any updates?

[2019-04-26 12:18] adityastic commented on #219
@anhanh11001 I would like to contribute by implementing MVP Architecture throughout the application

[2019-04-26 12:26] adityastic opened #220 "Viewpager is not visible when bluetooth permission is denied"
**Describe the bug**
On Denying the permission to Enable Bluetooth, we should still be able to use the application. Whereas, Sending should be denied when permission not given

**To Reproduce**
1. Open the Application without turning the bluetooth ON
2. deny the bluetooth permission

**Expected behavior**
It should be usable by the user to share and preview configurations.

**Would you like to wor

[2019-04-26 12:44] #149 closed

[2019-04-26 12:58] anhanh11001 commented on #219
@adityastic so my point about keyboard is that, let's say we want to turn up the keyboard for writing text. Currently, we have to call `text_to_send.showKeyboard()`, which is weird because:
1. The action of calling showKeyboard() doesn't have anything to do with a view.
2. if text_to_send is somehow null (which is unpredictable), then the app crashes.

[2019-04-26 13:00] anhanh11001 commented on #219
@adityastic on MVP Architecture, of course please go ahead if you find any improvements.

On drawables, I'm still a little bit vague on my solution so let's skip this for now. But I do agree on  downloading configuration from the server is a little bit ambitious for now

[2019-04-26 13:04] anhanh11001 commented on #219
oh wait, I was wrong on the keyboard part, yeah, keeping it

[2019-04-26 13:21] theLimitBreaker commented on #175
@adityastic sorry a little busy with exams . I would get to this.

[2019-04-26 14:18] yashk2000 opened #222 "Layout of empty saved configurations."
**Describe the feature you'd like**
Currently, when the saved configurations is empty, there is nothing being displayed. If the saved configurations activity is empty, it should display a message on the screen that there are no saved configurations.

**Would you like to work on the issue?**
YES.

[2019-04-26 14:19] adityastic commented on #219
@anhanh11001 Great, I'll get started with MVP then, you can refractor the code.

[2019-04-26 14:21] adityastic commented on #175
@theLimitBreaker, I would like to implement it using a pinch to zoom gesture. If you allow I can work on it

[2019-04-26 14:22] theLimitBreaker commented on #175
NP . Why pinch to zoom ? Its badge animation . What will pinch to zoom will do .

[2019-04-26 14:22] adityastic commented on #222
What if the user wants to save only the marquee and no text. That effect looks cool though xD

[2019-04-26 14:24] adityastic commented on #175
@theLimitBreaker, how do you want me to implement it then?, when you double tap the preview? or long press?

[2019-04-26 14:27] yashk2000 commented on #222
I meant when there are no saved configurations at all. It is empty. Then a message should be on the screen saying "No configurations have been saved yet"

[2019-04-26 14:29] adityastic commented on #222
Im so sorry, I misinterpreted it. When do you plan to show this message? everytime the user opens the app?

[2019-04-26 14:30] theLimitBreaker commented on #175
A simple transparent full-screen icon. User would be able to see and understand .
Also double tap would be fine .

[2019-04-26 14:30] yashk2000 commented on #222
No, nothing like that. I'll display a message in the fragment itself by creating a different UI for empty view.

[2019-04-26 14:31] adityastic commented on #222
That would be great

[2019-04-26 14:48] yashk2000 commented on #222
That'll be really cool. Definitely doing that.

[2019-04-27 05:02] iamareebjamal commented on #219
https://duckduckgo.com/?q=refractor&t=canonical&ia=definition

[2019-04-27 05:02] iamareebjamal commented on #219
@adityastic MVVM

[2019-04-27 05:03] adityastic commented on #219
Im so sorry, refactor*

[2019-04-27 05:04] adityastic commented on #219
Ok Sir, I will try to follow the MVVM architecture

[2019-04-27 05:11] #211 closed

[2019-04-27 05:12] #215 closed

[2019-04-27 05:15] yashk2000 commented on #98
I am working on Implementing more symbols.

[2019-04-27 05:24] #209 closed

[2019-04-27 11:32] adityastic opened #224 "App Crashes on Rotation"
**Describe the bug**
Possibly because of the merges, The app crashes on rotation

**To Reproduce**
Open the app and rotate

**Expected behavior**
Should open just fine

**Logs**
`2019-04-27 16:58:33.766 8114-8114/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.nilhcem.blenamebadge, PID: 8114
    java.lang.IllegalStateException: drawablesRecyclerView must not be null
        at com.nilhc

[2019-04-27 19:00] ShridharGoel commented on #219
@adityastic If you are refactoring to MVVM then please try to implement LiveData too

[2019-04-27 19:13] adityastic commented on #219
@ShridharGoel Saved configuration Fragment has a recycler view and I implemented livedata with observer already in it. It's working :). Only the main activity is left, will be done by tomm

[2019-04-27 19:14] ShridharGoel commented on #219
@adityastic Great

[2019-04-27 19:16] adityastic commented on #219
Unfortunately the rest of the app is static, so a viewholder with a data access object works fine there

[2019-04-28 10:44] #224 closed

[2019-04-28 17:09] #220 closed

[2019-04-28 17:11] #98 closed

[2019-04-30 08:13] #152 closed

[2019-04-30 09:45] adityastic opened #231 "Migrate Code to MVVM Architecture"
**Describe the feature you'd like**
The Code should be migrated to model view viewmodel architecture

**Additional Context*
Here is the diagram depicting the same
![picanim](https://i0.wp.com/resocoder.com/wp-content/uploads/2018/08/mvvm-architecture-complete-overview.png?w=492&ssl=1)

**Would you like to work on it**
YES

[2019-04-30 15:23] adityastic commented on #16
@iamareebjamal, I specified a way to achieve custom animations in my gsoc application which took an approach of sending 8 frame animations to the badge, as the badge only accepts 8 strings. If we send the perfect strings which act like an animation, we can create some amazing animations. Please give your thoughts on this sir

[2019-05-01 05:07] #214 closed

[2019-05-01 07:23] mariobehling opened #232 "Change "Mode" to visual interpretation"
To control the direction of the text moving the user currently has to choose from a drop down menu "Mode". Instead of the mode, please implement a visual interface that shows a small animation similar to https://play.google.com/store/apps/details?id=com.rooftopSpace.Led

![Screenshot from 2019-05-01 15-16-53](https://user-images.githubusercontent.com/1583873/57008739-d0402d00-6c24-11e9-89ce-7bb917

[2019-05-01 07:28] adityastic commented on #232
That's cool. Would love to work on it.

[2019-05-01 07:33] mariobehling opened #233 "Implement "Speed Wheel""
To control the speed of the text moving the user currently has to choose from a drop down menu "Mode". Instead please implement a visual interface for the speed.

Make it into a circle "wheel". The more to the right the user turns the faster it gets.

![Screenshot from 2019-04-25 00-22-03](https://user-images.githubusercontent.com/41234408/56267047-592a7500-610b-11e9-9947-5ce4edcdb66a.png)

[2019-05-01 07:38] mariobehling opened #234 "App requires access to location"
The app should not require access to location info.

[2019-05-01 07:38] adityastic commented on #233
I would like to work on it

[2019-05-01 07:41] adityastic commented on #234
@mariobehling Google has made it mandatory from Android 6.0 onwards. According to them location permission is necessary for hardware identification

Here is a link to the developers site : https://developer.android.com/about/versions/marshmallow/android-6.0-changes.html#behavior-hardware-id

[2019-05-01 07:48] mariobehling opened #235 "Instead of "play" button we need a button "transfer/upload to device""
The red play button is not suitable for the transfer functionality. As a first step to simplify the UI, please implement a button "Transfer" next to the "Save" button in the UI.

[2019-05-01 07:54] adityastic commented on #235
@mariobehling Hello Sir, currently the floating red button is responsible for sending configuration to the led for both the sections in the application, if we create a button transfer next to the save button inside the app like it use to be earlier, we would have to create another button inside the 'saved configuration' section for transferring data. Are you sure having two buttons for a single op

[2019-05-01 07:56] mariobehling opened #236 "Add button "open folder" on top right of screen and delete "+" button (instead add "import" to saved configurations)"
1. Please add button "open folder" on top right of screen. This button should direct people to "Saved Configurations"

2. Delete "+" button on the top right of the screen and instead add a button "import" to saved configurations.

3. Add a play button on each tile on the "Saved Config" screen to enable the user to see the saved badges.

4. Change "Saved Configurations" to "Saved Badges" in all vie

[2019-05-01 07:56] adityastic commented on #235
What about changing the icon of the button, and making something which relates more to transfer than the current play button?

[2019-05-01 07:58] mariobehling opened #237 "Don't show bottom menu when showing the keyboard for text input."
Don't show bottom menu when showing the keyboard for text input.

[2019-05-01 07:59] adityastic commented on #237
Got it

[2019-05-01 08:00] mariobehling commented on #237
![Screenshot_2019-05-01-15-57-44-763_com nilhcem blenamebadge](https://user-images.githubusercontent.com/1583873/57009625-485d2180-6c2a-11e9-960a-39e433a79733.png)

[2019-05-01 08:01] adityastic commented on #236
Hi Sir, I have some doubts regarding this issue.
1. The button should redirect people to the "Saved Configuration" section or the place where the configuration are actually saved in the device

[2019-05-01 08:08] mariobehling commented on #236
Yes, this is not obvious enough. Instead of clicking on the entire thing, please add a play button. Also later we want to add more buttons here. So, the entire area should not be used for one function only. You can keep the color change.

[2019-05-01 08:08] adityastic commented on #235
Sir Currently, the send button handles both the sections inside the application. If we add a button  next to the send button, we would have to add another button in the saved badge section, and as it is a list we will have to make the button at the top. Are you sure this will simplify the interface?

[2019-05-01 08:09] adityastic commented on #235
What if we change the sending icon from the play button to something which more resembles to transfering ?

[2019-05-01 08:09] mariobehling commented on #237
Actually, just delete the bottom menu entirely. It is not needed. We will enable people to access it differently. See https://github.com/fossasia/badge-magic-android/issues/236

[2019-05-01 08:11] adityastic commented on #237
@mariobehling got it

[2019-05-01 08:14] adityastic commented on #236
On It.

[2019-05-01 08:16] mariobehling opened #238 "Implement support for emoticons as part of "text" field and improve UI"
1. Text editors already have emoticons. Please implement full support for emoticons as part of the text.

2. Rename "Send Drawables" to "Clipart"

3. Rename "Send Text" to "Editor"

[2019-05-01 08:18] yashk2000 commented on #233
@adityastic can I work on this issue?

[2019-05-01 08:18] mariobehling opened #239 "Implement Option to Change Font"
Currently there is only one standard font implemented. Please implement an option to change the font.

[2019-05-01 08:18] mariobehling commented on #16
Let's simplify this and follow up here please: https://github.com/fossasia/badge-magic-android/issues/232

[2019-05-01 08:18] #16 closed

[2019-05-01 08:23] adityastic commented on #238
@mariobehling Implementing Emoticons is not possible at this moment as our application need to have the hexadecimals strings of the emoji predefined. There are over 200+ emoji's, that would not be feasible. Instead there is a neat feature that I suggested in my GSoC Application which lets you include the drawables in the text field. This drawable section can have custom drawings as well. But To ge

[2019-05-01 08:24] adityastic commented on #233
@yashk2000 Definitely, I'll pick another issue. Good Luck

[2019-05-01 08:37] yashk2000 commented on #238
@mariobehling since the badge is just 40x11, it will be very difficult to implement emojis. The expressions for all emojis might not be properly visible. I think that the solution proposed by @adityastic is a feasible one for this issue.

[2019-05-01 09:53] mariobehling opened #240 "Implement Clipart (Drawables) dropdown area"
The Cliparts are currently movable to the right and left. Instead there should be an area below and in future the user should be able to add their own cliparts.

Some inspiration from Whatsapp:
![Screenshot from 2019-05-01 17-51-20](https://user-images.githubusercontent.com/1583873/57012599-f3c1a280-6c39-11e9-992d-ac83aa5d44cd.png)

[2019-05-01 09:55] adityastic commented on #240
Yes Sir, This is exactly what I proposed in my proposal and also said in #238. I would love to implement this

[2019-05-01 10:17] #231 closed

[2019-05-01 15:45] adityastic commented on #234
@iamareebjamal @mariobehling Please check my comment

[2019-05-01 15:47] adityastic commented on #236
@mariobehling please explain the interface of transferring the saved badges

[2019-05-01 16:39] mariobehling commented on #238
There are probably larger badges and badges that have a higher resolution in the near future. So, if we could support the most common emoticons it would be good already, e.g. the smileys. I also wonder if there is an option to restrict the on screen keyboard to only show the characters and emoticons that work.

[2019-05-01 16:43] adityastic commented on #238
@mariobehling if in future we support the larger resolution badges, then definitely we can work on emoji's. As far as restricting keyboard goes, I'm not sure google allows us to restrict it to anything other than an inputtype filter

[2019-05-01 17:00] yashk2000 commented on #238
@adityastic we can create a custom soft keyboard, after all, there are many custom keyboard apps in the play store, but that will require lots of new XML files. Also, we will have to define a lot of functions to control how it works. I don't know how feasible this method will be though.

[2019-05-01 17:13] adityastic commented on #238
Why not just create and save them inside the drawables itself, it is almost the same thing. Check the new layout suggested by @mariobehling in the last issue

[2019-05-01 17:36] yashk2000 commented on #238
Yes. That'll be the best option.

[2019-05-01 17:48] mariobehling commented on #238
The name drawables is misleading. We need a way to import "cliparts" and render images into something that works on the badges. The current implementation of "cliparts" has a lot of limits. This is a different discussion. People are used to use their entire keyboard including emoticons. A simple smiley should already be possible with the current badge. More complicated emoticons can be simplified,

[2019-05-01 17:51] mariobehling commented on #235
Please get rid of the current on the top of everything play button and add a simple button "Transfer" on the right of the "Save" button.

[2019-05-01 17:54] yashk2000 commented on #233
@mariobehling can you please give us an idea/mockup of the kind of wheel needed here?

[2019-05-01 17:55] yashk2000 commented on #238
@mariobehling sure. The simple emoticons can be implemented. We'll start with those first.

[2019-05-01 17:57] adityastic commented on #235
@mariobehling ok sir. That will be done

[2019-05-01 17:59] adityastic commented on #233
![20190501_232542](https://user-images.githubusercontent.com/11988517/57032803-d6f09380-6c68-11e9-9fcb-f3ac36d4bd3e.jpg)
 @mariobehling does this match your idea?

[2019-05-01 18:02] yashk2000 commented on #233
![image](https://user-images.githubusercontent.com/41234408/57032978-36e73a00-6c69-11e9-98e3-e348ed4d1de2.png)

Or something like this?

[2019-05-01 18:03] adityastic commented on #233
@mariobehling yes sir, any mockups would be useful

[2019-05-02 02:00] adityastic commented on #238
@mariobehling ok sir, we will try to implement the basic emoticons for now.

[2019-05-02 02:01] adityastic commented on #234
@mariobehling hello sir, please read my comment above

[2019-05-02 04:01] #234 closed

[2019-05-02 05:34] #235 closed

[2019-05-02 09:56] #232 closed

[2019-05-02 10:01] mariobehling opened #245 "Implement "Effects" in same way as "Animations""
Animations has been implemented with a boxes that show the animation immediately. Implement a section "Effects" below in the same way.

* Please take out the "colon" behind "Animations" as well. Don't add semicolons behind the section headings
* Also change "Send Drawables" to "Clipart" and "Send Text" to "Editor"

Screenshots for the change:
![issue232](https://user-images.githubusercontent.com/1

[2019-05-02 10:03] adityastic commented on #245
Sure Sir, I would love to take this issue

[2019-05-02 10:07] mariobehling commented on #118
Sorry, this idea is conflicting with the recent UI changes. Therefore closing it.

[2019-05-02 10:07] #118 closed

[2019-05-02 18:45] yashk2000 commented on #237
@mariobehling @iamareebjamal this issue has been resolved. The bottom bar has been completely removed.

[2019-05-02 18:59] adityastic commented on #237
@yashk2000 oh yeah I guess I accidentally fixed this

[2019-05-02 19:09] #237 closed

[2019-05-03 01:55] #245 closed

[2019-05-03 02:04] mariobehling commented on #233
Here is an example.

![rotary_knob_android_custom_control](https://user-images.githubusercontent.com/1583873/57116925-da7c3b80-6d8a-11e9-9967-4c8dab2852e9.jpg)

[2019-05-03 02:41] adityastic commented on #233
Great Sir. @mariobehling I am planning to redesign the app according to the new interface. I will be working full day and get it done by today. Can I work on it after the redesign? @mariobehling

[2019-05-03 03:57] adityastic commented on #233
@mariobehling let me do it first for you :)

[2019-05-03 05:19] mariobehling opened #248 "Improve and Simplify UI and Colors"
Please improve the UI as follows:

* Make sections Speed, Animations, Effects in a kind of sub tabs as in the mockup below
* Use one standard red in all areas (the same red as on the top menu bar) - also for the highlighted areas - use the same red!
* Delete "Text to Send"

![57098056-d3c3d900-6d36-11e9-8472-1ef7fe67b25c](https://user-images.githubusercontent.com/1583873/57120755-035dfa00-6da6-11e

[2019-05-03 05:21] #233 closed

[2019-05-03 05:21] adityastic commented on #248
That is a great idea sir

[2019-05-03 07:34] #248 closed

[2019-05-03 07:38] mariobehling opened #250 "Change UI to use Capital Letters only for first letter (avoid to capitalize all) and Increase space above Save/Transfer button"
1. Please change the UI to use Capital Letters only for first letter (avoid to capitalize all).

2. Increase space above Save/Transfer button in all views. It is currently very close to the above area.

[2019-05-03 07:39] adityastic commented on #250
Got it Sir

[2019-05-03 07:40] adityastic commented on #250
@yashk2000 Can you Please solve this issue

[2019-05-03 07:40] yashk2000 commented on #250
@adityastic sure.

[2019-05-03 08:07] mariobehling commented on #207
Thanks! Good input. Some things are already in progress. Please open specific issues for anything outstanding. Closing this therefore. Cheers.

[2019-05-03 08:07] #207 closed

[2019-05-03 08:08] mariobehling commented on #199
As we dont have many screens it does not seem required currently. Closing it therefore.

[2019-05-03 08:08] #199 closed

[2019-05-03 08:10] mariobehling commented on #222
There is no need to save configurations. We only save badges.

[2019-05-03 08:10] #222 closed

[2019-05-03 08:17] mariobehling opened #251 "Implement a Drawer"
Please implement a drawer similar to PSLab Android with the following:
* Create Badge
* Saved Badges
* About Us
* Feedback/Bug Reports (Link to Issue Tracker https://github.com/fossasia/badge-magic-android/issues)
* Buy Badge (https://sg.pslab.io)

![view_navigation_drawer](https://user-images.githubusercontent.com/1583873/57126193-ac185380-6dbe-11e9-8f01-7e7d2238a581.png)

[2019-05-03 08:21] adityastic commented on #251
Great Sir, Will do this with #236 by today

[2019-05-03 08:22] adityastic commented on #251
@yashk2000, let's start working on it

[2019-05-03 08:30] yashk2000 commented on #251
@adityastic on it.

[2019-05-03 09:43] #219 closed

[2019-05-03 10:07] anhanh11001 opened #253 "App crashes on reinstalling app"
**Describe the bug**
I'm updating the latest version of the app by deleting and reinstalling it, and the app constantly crashes with this log:
[code]

**Would you like to work on the issue?**
Yes

[2019-05-03 10:51] adityastic commented on #253
Because Saved Fragment is not done yet. Will be fixed by today when #236 will be completed

[2019-05-03 15:22] #251 closed

[2019-05-03 15:26] mariobehling commented on #250
Reopening this issue as it is only partly fixed. Many areas in this app and buttons still have capitals only.

[2019-05-03 15:29] yashk2000 commented on #250
They are in the saved section mostly. I'll fix it right now.

[2019-05-03 15:38] mariobehling opened #255 "Sections are hidden behind save/transfer"
Please avoid to implement different layers. The save/transfer buttons should be below the upper area (effects etc). Don't make it go on top. Keep it on the same layer.

![Screenshot_2019-05-03-23-33-47-267_com nilhcem blenamebadge](https://user-images.githubusercontent.com/1583873/57148614-8ad65800-6dfc-11e9-97c2-07532f8de4e5.png)

[2019-05-03 16:10] adityastic commented on #255
I got the issue. Will fix it as soon as I come home, sorry for the inconvenience

[2019-05-03 17:47] iamareebjamal commented on #250
@mariobehling It's standard in Android to have button text in caps by default.

[2019-05-03 20:46] #236 closed

[2019-05-03 20:47] #255 closed

[2019-05-03 20:57] mariobehling opened #259 "Implement an about screen."
Implement an about screen as a first step use the info text from the Readme.md.

[2019-05-04 01:22] adityastic commented on #259
Morning sir, would love to work on it

[2019-05-04 01:51] adityastic commented on #253
Hey @anhanh11001 ,I assume I can fix this issue. Do you want me to?

[2019-05-04 03:23] adityastic commented on #259
@mariobehling Can you tell me the links you would like to add here.
![ss](https://user-images.githubusercontent.com/11988517/57173216-06122b00-6e4a-11e9-848f-00a2f5122b03.jpg)

[2019-05-04 04:22] mariobehling opened #261 "Implement an Edit button for saved badges"
The badges on the saved badges screen are missing the option to edit them. Please implement it.

[2019-05-04 04:27] adityastic commented on #261
@mariobehling So, when the user clicks on the edit button. The badge should be loaded in another activity where he can edit the badge?. Currently we cannot restore saved badge to its respective text or clipart, because the LED Badge works in bits, and we store the bits inside the badge.txt file. Please share your thoughts on it

[2019-05-04 04:29] mariobehling opened #262 "Enable user to put in more than one Clipart"
Currently the user is only able to put in one clipart at a time. Please implement a "clipart" editing line (same as for text input) and enable the user to put in several cliparts.

![57173730-fac2fd80-6e51-11e9-8b62-8fe0ae9f5d92](https://user-images.githubusercontent.com/1583873/57173816-35d02b80-6e68-11e9-85e3-597382f55b4a.jpg)

[2019-05-04 04:45] adityastic commented on #262
@mariobehling This is exactly what we talked about on gitter sir. Once the core code is added, we can have "Text <emoji>" or "<emoji> <emoji" or any combination you like. Making this core change would take around 2 weeks sir

[2019-05-04 05:24] adityastic commented on #261
@mariobehling this can be implemented when we have a feature to create custom cliparts as we can then redirect the the user to the edit screen where he can edit the clipaet accordingly

[2019-05-04 06:45] anhanh11001 commented on #261
@mariobehling Can I work on this, I'm thinking of making two round button in the corner for edit and share, and making the swiping left and right for deletion. For editting, it will make a pop up dialog?

[2019-05-04 07:22] adityastic commented on #261
@anhanh11001 how are you going to edit it?

[2019-05-04 08:44] anhanh11001 commented on #261
@adityastic for now, I'm thinking about a pop - up alert dialog with all of the setting info and then overwrite the current file. Do you think will there be any problems with that ?

[2019-05-04 08:48] #250 closed

[2019-05-04 08:58] #259 closed

[2019-05-04 08:58] #253 closed

[2019-05-04 09:03] adityastic commented on #261
@anhanh11001 how are you going to restore the saved badge. It is stored in hexadecimal strings, not with text or drawableSelectedID

[2019-05-04 09:23] anhanh11001 commented on #261
I don't quite understand your question, because this issue is about editting, why do we want to discuss about restoring?

[2019-05-04 09:35] adityastic commented on #261
@anhanh11001 How are you going to edit the badge, if you don't have a mechanism to read the badge. Example: I saved a custom clipart  💀 . then shared it with someone who does not has this clipart in his app. You can import, and transfer the unknown clipart to the hardware. But how will you be able to edit it to ☠️ ? if the person needs to change some parts in the clipart and we need to be able to

[2019-05-04 09:56] anhanh11001 commented on #261
ok, I kinda get your point now, at first I thought editing is more about to edit the setting of the badges (marque,inverted,speed,...).

But what do you mean by "don't have a mechanism to read the badge". Because if a user doesn't have it then how can they load the information and run the animations with text/clipart?

One more thing, what do you mean by "having clipart 💀 and edit it to ☠️". That'

[2019-05-04 10:13] adityastic commented on #261
By "don't have a mechanism to read the badge" I mean, you need to find a way read the byte code and create the text out of it. And if it is not a text, it will be a clipart. then you need to find out which one.

BUT, if you someone creates a custom clipart like this 💀 and saves it into his application, let's name the owner of this device as owner 1. owner 1 now shares the clipart to owner 2. Owner

[2019-05-04 10:26] anhanh11001 commented on #261
ok, it's clear to me know. Thank you for your detailed explanation! I will think more about the solution.

[2019-05-04 11:26] yashk2000 opened #266 "Update readme with screenshots of latest UI."
**Describe the chore**
The UI has changed a lot from what it is in the current screenshots in the readmd. These screenshots should be replaced with screenshots of the latest UI.

**Would you like to work on the issue?**
YES, after #260 gets merged.

[2019-05-04 11:54] yashk2000 opened #267 "App state not retained on rotating screen."
**Describe the bug**

When the app is rotated in the the about section, or saved badges section, the app enters edit mode.

**To Reproduce**
Go to saved badges or about section. Rotate the screen. App goes into edit mode.

**Expected behavior**
App should stay in the fragment in which it was.

**Would you like to work on the issue?**

YES.

[2019-05-04 11:58] anhanh11001 commented on #267
I am working on that and I'm about to send a PR #147

[2019-05-04 12:00] yashk2000 commented on #267
Ok. Metion this issue to as fixed when the pr is finalized.

[2019-05-04 12:00] anhanh11001 commented on #267
yup!

[2019-05-04 12:03] iamareebjamal commented on #261
Why not save both source and hex and no need for reverse lookup

[2019-05-04 12:52] adityastic commented on #261
@iamareebjamal if we save the drawable itself which is the source, and transfer the file. In the other person's application we still would have to look up which drawable it is matching and what if it was a custom clipart, the drawable would not match any of the stored cliparts or text

[2019-05-04 14:27] iamareebjamal commented on #261
Why? You already have the 8-bit source

[2019-05-04 15:38] adityastic commented on #261
@iamareebjamal I did not get what you mean by 8-bit source sir. Can you please elaborate

[2019-05-04 17:02] iamareebjamal commented on #261
By source of the drawable, I mean you have the information needed to show it on the screen

[2019-05-04 22:19] adityastic commented on #261
@iamareebjamal I created 40x11 drawables by hand and saved them into the application, when a user selects it, we convert the drawable to a 16-bit number of variable length. The keyword here is variable length as the length of the 16-bit number depends upon the number of text which were used to create the text or the width of the drawable excluding the transparent pixels. This 16-bit variable lengt

[2019-05-04 22:24] adityastic commented on #261
And if we want to convert the 16-bit number to it's respective text or drawable. We need to try every possible combination of our resources (text or drawable) and check which one matches it exactly if we want to edit the saved badge. Hence my suggestion is to create a section seperately which can let you edit any 16 bit number, but this will definitely take time sir

[2019-05-04 22:25] adityastic commented on #261
@iamareebjamal I am even ready to work on it even but I have an exam tomorrow, please let me know your thoughts on it.

[2019-05-04 22:41] adityastic commented on #261
@iamareebjamal I am even ready to work on it even but I have an exam tomorrow, please let me know your thoughts on it sir. This is one of the major issues who's solution is listed in my gsoc proposal as well

Sorry for my bad English

[2019-05-05 05:46] iamareebjamal commented on #261
0001000
0010100
0100010
0010100
0001000

You have this as source, you can't show a diamond?

[2019-05-05 05:47] #130 closed

[2019-05-05 05:57] adityastic commented on #261
How will you compare it to a drawable without converting every drawable inside the app and checking which drawable produces the same source ?

[2019-05-05 06:00] adityastic commented on #261
And the source will be 102f882f10

[2019-05-05 06:01] adityastic commented on #261
We are working with hexadecimals and not binary

[2019-05-05 06:15] adityastic commented on #261
Now take this condition.
0001000000001000
0010100000001000
0100010000001000
0010100000001000
0001000000001000

Its hex will be 100f2f0f880f2f0f100f

[2019-05-05 06:17] adityastic commented on #261
If you want to convert this to its original high level values which is a diamond image and line image. You will have to try every combination with the available images to get all the possible images which match the resource

[2019-05-05 06:19] adityastic commented on #261
Now consider more than 5 images.

we will have to test n to power n conditions where n is the number of possible text and drawables inside the application

[2019-05-05 07:14] #267 closed

[2019-05-05 07:16] yashk2000 commented on #75
@yatri1609 @iamareebjamal this has been done. Could you please close this issue?

[2019-05-05 07:41] iamareebjamal commented on #261
You are not understanding what I mean by source. By source, I mean bitmap

[2019-05-05 08:15] adityastic commented on #261
@iamareebjamal ok sir, I get it now so now if we save the source ( text or bitmap ) and the configuration in the badge file then we can bring it back to the original state. The only issue which would be there is if someone created a custom clipart and sent it to a device which does not have this clipart

[2019-05-05 08:20] adityastic commented on #261
@iamareebjamal yes sir, actually this is an amazing idea. I guess I can pull this off in under a week. I just need to create a view which can interpret text and drawable at the same time. It will be able to store json in this format

{ "hexstrings":[{"type":"clipart", "bytes":"10fd1331..."}.....].... }

[2019-05-05 08:24] adityastic commented on #261
Yes I can confirm that this is possible after #238 and #262. Thanks @iamareebjamal

[2019-05-05 17:09] #240 closed

[2019-05-05 17:11] mariobehling opened #268 "Add more cliparts to clipart screen"
Please add more cliparts to the clipart screen and enable to include several cliparts in the badge view itself.

Screenshots for the change:
![iss_240](https://user-images.githubusercontent.com/11988517/57187623-8058b300-6f0f-11e9-9f42-3028f197bfed.jpg)

[2019-05-05 17:17] mariobehling opened #269 "Enable Text and Cliparts at the same time"
If the user enters a text and then switches to clipart view, the text no longer appears on the batch.

Expected: The text should stay and cliparts should be added after the text. Both text and cliparts should appear on the batch screen.

[2019-05-05 17:42] adityastic commented on #269
I would like to work on this

[2019-05-05 17:43] adityastic commented on #268
I'd like to add more cliparts as well as enable option for user to pick cliparts from gallery

[2019-05-05 17:46] adityastic commented on #268
@iamareebjamal, this custom picker which will allow us to pick images from any source will have a editor based on which we can edit the badge too. So when we want to edit the badge, we can direct the user to this specific screen

[2019-05-06 09:22] adityastic commented on #269
@mariobehling @iamareebjamal please check gitter

[2019-05-06 16:09] mariobehling opened #270 "Decrease white space above top buttons, increase space above save/transfer, decrease space below save/transfer"
The screen does not work entirely well on smaller phones yet.

The app should be working on **smaller screens as well as on bigger screens without scrolling**.

Therefore please increase/decrease the spacing as follows. Ensure the UI feels/looks naturals. Avoid too small or too large white areas.

Change the following:
* decrease height of buttons
* decrease white space above top buttons
* increas

[2019-05-06 16:30] adityastic commented on #270
@mariobehling Please Check Gitter

[2019-05-06 17:25] mariobehling opened #271 "Implement more border options"
The effect tab should offer more options for borders.

![Screenshot_2019-05-07-01-22-16-691_com nilhcem blenamebadge](https://user-images.githubusercontent.com/1583873/57242759-ef94eb00-7066-11e9-952e-9448f0a4e4a0.png)

[2019-05-06 17:27] mariobehling opened #272 "Implement rich text"
The screen could have options like font, font size etc. Please implement it.

![Screenshot_2019-05-07-01-20-24-830_cn huidu huiduapp](https://user-images.githubusercontent.com/1583873/57242818-18b57b80-7067-11e9-9e75-211010d8a324.png)

[2019-05-08 19:04] #266 closed

[2019-05-10 19:25] yashk2000 opened #275 "App is crashing on opening."
**Describe the bug**
As soon as the app is opened, it crashes.

**To Reproduce**
Install the latest version of the app. Open it. The app crashes.

**Expected behavior**
App should not crash.

**Logs**
`2019-05-11 00:53:57.085 31967-31967/com.nilhcem.blenamebadge E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.nilhcem.blenamebadge, PID: 31967
    java.lang.RuntimeException: Cannot create a

[2019-05-11 01:44] adityastic commented on #275
Provider does not has the instance of factory

[2019-05-11 22:52] #275 closed

[2019-05-12 05:48] adityastic opened #278 "Memory leak in PreviewBadge"
**Describe the bug**
Memory Leak in PreviewBadge

**Additional context**
There is a memory leak inside PreviewBadge because of the valueAnimator instance

**Would you like to work on the issue?**
YES

[2019-05-12 06:44] adityastic opened #280 "retain items on rotation"
**Describe the bug**
Configuration is not retained on rotation

**To Reproduce**
select drawable or type text.

**Expected behavior**
rotate the device

**Screenshots**
![](https://camo.githubusercontent.com/5a305747982dd58caadef81a50ba075a1417f193/68747470733a2f2f692e696d6775722e636f6d2f6c4f796579655a2e676966)

**Would you like to work on the issue?**
YES

[2019-05-12 14:23] #278 closed

[2019-05-12 14:23] #280 closed

[2019-05-13 10:12] mariobehling opened #282 "Implement support for transfer over USB and WiFi"
Apart from the Bluetooth device there are devices that accept transfer of data over USB and WiFi. Please implement support of the app for these transfer methods.

[2019-05-13 10:18] mariobehling opened #283 "Speed Section: Implement a button "Hold" and change speed to a scale from 0 to 10"
The button "Hold" should allow the user to control the time to stop the scrolling for 0 - 10 seconds in the speed section.

[2019-05-13 10:27] mariobehling opened #284 "Investigate and Support different Panel Sizes"
Other apps like LED Art (https://play.google.com/store/apps/details?id=cn.huidu.huiduapp) support different panel sizes. Please add support for the same panel sizes.

![Screenshot_2019-05-13-12-22-13-684_cn huidu huiduapp](https://user-images.githubusercontent.com/1583873/57614891-a1a64880-757a-11e9-8e19-f0d0727e0125.png)

[2019-05-15 16:31] adityastic opened #285 "turn off bluetooth when closing app"
**Describe the bug**
Currently the app asks you to allow bluetooth permissions, while when exiting the app we should also turn the bluetooth off. This is performed by almost all the apps that use bluetooth to share files and saves battery life

**Expected behavior**
Bluetooth should be turned off

**Would you like to work on the issue?**
YES

[2019-05-15 16:56] adityastic opened #287 "Remove Unused Resources"
**Describe the chore**
Remove the unused resources such as drawable, colors, strings etc

**Would you like to work on the issue?**
YES

[2019-05-15 17:14] adityastic opened #289 "Add LeakCanary Library for Memory Leak Detection"
**Describe the chore**
I would like to add leak canary to the app in order to avoid memory leaks

**Would you like to work on the issue?**
YES

[2019-05-15 17:59] #287 closed

[2019-05-15 18:36] #289 closed

[2019-05-15 22:29] #285 closed

[2019-05-16 13:58] adityastic opened #291 "Changing the Package Name"
**Describe the bug**
Changing the package name to 'org.fossasia.badgemagic'

**Would you like to work on the issue?**
YES

[2019-05-16 14:19] mariobehling opened #292 "Keep all Documentation images in /docs/images"
All data required for the app and documentation should stay in the repository. The Readme.md files are currently hosted at https://user-images.githubusercontent.com/...

Please move all images to /docs/images and add the relative links in the Readme.md

[2019-05-16 14:30] adityastic commented on #292
On it

[2019-05-16 15:10] #291 closed

[2019-05-16 15:28] adityastic opened #294 "Reduce App Size"
**Describe the bug**
Current App size is 5.0 mbs, we can optimize the resources

**Would you like to work on the issue?**
YES

[2019-05-16 15:39] mariobehling opened #296 "Convert Icons to SVG"
Since Android 5 it is possible to use SVGs in Android. They are automatically converted to PNGs if necessary in Android Studio. Using SVGs will stop us worrying about resolutions and make it easier to keep the image quality high. Please change the icons to SVGs.

Reference: https://android.jlelse.eu/stop-using-your-svg-as-png-87b5edd367cd

[2019-05-16 15:55] adityastic commented on #296
In Android in order to use .png, .jpg or any other bitmap resources we need to put it inside drawable directory
Reference: https://developer.android.com/guide/topics/resources/providing-resources
This is the standard in android

[2019-05-16 15:56] adityastic commented on #296
Also all the images which could be converted to svg's or vector drawables are already converted. There are no icons left which need to be converted to svg as of now

[2019-05-16 16:03] adityastic commented on #296
@mariobehling also all the images which can be converted to svg are already converted

[2019-05-16 16:14] adityastic opened #297 "Bump Up Gradle to the Latest"
**Describe the chore**
Bump up gradle to the latest version

**Would you like to work on the issue?**
YES

[2019-05-16 16:46] #294 closed

[2019-05-16 17:09] #297 closed

[2019-05-16 17:14] adityastic opened #300 "memory leak in maintextfragment"
**Describe the bug**
there is a memory leak in maintextfragment due to anonynous listeners

**Would you like to work on the issue?**
YES

[2019-05-16 17:21] #292 closed

[2019-05-16 18:02] mariobehling opened #305 "Avoid slow transitions when opening screens like "About""
Opening the About page is using a slow transition effect. In order to ensure speed of the app please take out any transition effects.

[2019-05-16 18:04] mariobehling opened #306 "Fix issues and improve Saved Badges screen when no badges are saved"
Please change Saved Badges screen as follows, when no badges are saved:
* Ensure all design is showing on screen also for small screens
* Simplify smiley to one color using the design of a "Badge Smiley" instead of a full colored smiley

![Screenshot_2019-05-16-20-02-43-147_org fossasia badgemagic](https://user-images.githubusercontent.com/1583873/57876576-f4e7f780-7815-11e9-95dc-ed920d8af6ff.png)

[2019-05-16 18:13] adityastic commented on #306
Ok sir

[2019-05-16 18:14] adityastic commented on #305
Got it, will remove the fade effect

[2019-05-17 15:46] #300 closed

[2019-05-19 11:29] yashk2000 opened #308 "Creating app shortcuts."
**Describe the feature you'd like**

Since we have different screens for both saved and create badges activity now, we should have app shortcuts too for the user to directly access the desired section form the phone launcher itself on long clicking the app icon.

**Would you like to work on the issue?**

YES

[2019-05-20 06:56] #308 closed

[2019-05-21 07:27] adityastic opened #310 "Memory Leak in PreviewBadge"
**Describe the bug**
Memory Leak in Preview Badge

**Screenshots**
![leakpreview](https://user-images.githubusercontent.com/11988517/58076291-79949600-7bc7-11e9-9b59-dbfbde685477.jpg)

**Smartphone Info:**

|               |   |
|---------------|---|
|Device         | Galaxy S9+ |
|Android Version| 9.0 |

**Would you like to work on the issue?**
YES

[2019-05-21 07:48] adityastic opened #312 "drawer selection messed up when using shortcuts"
**Describe the bug**
selected drawer item is not correct when selecting saved badges

**To Reproduce**
open app using app shortcut of saved badges

**Screenshots**
![shortfix](https://user-images.githubusercontent.com/11988517/58077795-e65d5f80-7bca-11e9-984e-1dcf1f96b90c.jpg)

**Would you like to work on the issue?**
YES

[2019-05-21 08:12] #312 closed

[2019-05-21 08:19] adityastic commented on #310
@iamareebjamal please close this

[2019-05-21 08:59] #310 closed

[2019-05-21 10:15] adityastic opened #314 "refactor badge preview"
**Describe the chore**
Badge Preview can be refactored

**Would you like to work on the issue?**
YES

[2019-05-22 04:40] adityastic opened #316 "memory leak due to EditableInputConnection"
**Describe the bug**
memory leak due to EditableInputConnection

**Screenshots**
![nmmem](https://user-images.githubusercontent.com/11988517/58147785-c5a01300-7c79-11e9-8698-f4a39d27f50d.jpg)

**Would you like to work on the issue?**
YES

[2019-05-22 05:55] adityastic opened #317 "Moshi Adapter issue with Release Builds"
**Describe the bug**
Moshi Adapter fails work with enums when minifyEnabled

**Would you like to work on the issue?**
YES

[2019-05-22 06:08] adityastic opened #320 "update leakcanary to alpha 2"
**Describe the chore**
update leak canary to alpha 2

**Would you like to work on the issue?**
YES

[2019-05-22 06:17] adityastic commented on #296
@mariobehling @iamareebjamal Please Close this, all the possible icons are already in svg

[2019-05-22 06:18] adityastic commented on #284
@mariobehling We need to have the device in hand to support them, any suggestions?

[2019-05-22 06:19] adityastic commented on #282
@mariobehling we need to have the device in hand to debug the bytes sent to the device. If you have something in mind, drop a link. I will look at that device

[2019-05-22 06:20] adityastic commented on #239
@mariobehling this is not possible as of now, we need to have some extra pixels in the badge to morph our letters

[2019-05-22 06:20] adityastic commented on #85
@iamareebjamal Please Close this

[2019-05-22 06:21] adityastic commented on #175
@iamareebjamal Please add a later tag to this issue

[2019-05-22 06:24] adityastic commented on #271
@mariobehling only the first two effects: flash and marquee are supported by the badge. Invert LED is an in-house solution developed by me, which is calculated on the app itself and then passed on to the device.

[2019-05-22 06:28] adityastic opened #323 "convert java file to kotlin"
**Describe the chore**
convert java file to kotlin

**Would you like to work on the issue?**
YES

[2019-05-22 06:58] #314 closed

[2019-05-22 06:59] #305 closed

[2019-05-22 06:59] #320 closed

[2019-05-22 07:00] #323 closed

[2019-05-22 08:35] iamareebjamal commented on #296
https://github.com/fossasia/badge-magic-android/tree/development/app/src/main/res/drawable-nodpi

I don't think so

[2019-05-22 08:36] #85 closed

[2019-05-22 08:43] #317 closed

[2019-05-22 09:18] adityastic commented on #296
@iamareebjamal are you sure, the size wont increase?. The reason they are not converted is because if I do, there size may increase from bytes to kilobytes

[2019-05-22 09:33] iamareebjamal commented on #296
Also, representing such simple icons will not take much size. And if it does, then something is wrong. png for this low resolution will have smaller size but it will not be scalable and consume a lot more than vector file in higher resolutions.

Also, it makes it easier to edit later

[2019-05-23 00:57] adityastic commented on #316
@iamareebjamal let me know what do you plan to do with this issue

[2019-05-25 11:19] #262 closed

[2019-05-25 11:24] adityastic commented on #269
@mariobehling close this, it is fixed

[2019-05-25 11:28] mariobehling opened #327 "Add badge for Badge Magic Play Store to Readme"
Please add the badge and link to https://play.google.com/store/apps/details?id=org.fossasia.badgemagic

[2019-05-25 11:29] mariobehling opened #328 "Submit app to Fdroid"
The app is not on Fdroid yet. Please submit it and add an Fdroid badge to the Readme.

[2019-05-25 11:46] adityastic commented on #327
@mariobehling can you explain me what to add to the store listing. As currently, the store listing has 'You can purchase a compatible LED Badge at https://sg.pslab.io' this

[2019-05-25 11:49] yashk2000 commented on #327
We have to add a play store badge in the readme. Check out this readme for [example](https://github.com/fossasia/phimpme-android). I'll add the badge.

[2019-05-25 11:55] adityastic commented on #327
@yashk2000 oh ok I get it now.

[2019-05-25 15:21] #269 closed

[2019-05-26 18:50] #327 closed

[2019-05-27 00:39] adityastic opened #335 "Runtime JAR files in the classpath should have the same version"
**Describe the chore**
Runtime JAR files in the classpath should have the same version. These files were found in the classpath:
    /home/travis/.gradle/caches/modules-2/files-2.1/org.jetbrains.kotlin/kotlin-stdlib-jdk7/1.3.31/e652770b6416c6d85934086899ffed3eccd35813/kotlin-stdlib-jdk7-1.3.31.jar (version 1.3)
    /home/travis/.gradle/caches/modules-2/files-2.1/org.jetbrains.kotlin/kotlin-reflect

[2019-05-27 01:03] adityastic opened #337 "remove deprecated getDrawable method"
**Describe the chore**
we use deprecated getDrawable method, we can use the resource class everywhere

**Would you like to work on the issue?**
YES

[2019-05-27 01:29] #335 closed

[2019-05-27 19:33] mariobehling opened #339 "Do not show emoticons always. Follow methods similar to messengers like whatsapp"
Currently the emoticons and text always cover the screen. Please change the features as follows:
* Portray a small emoticon or text button similar to Whatsapp on the left side of the editing field
* Show a button on the editor in blue (like before) to minimize the keyboard
* Don't allow multiple lines (as the actual device does not offer that feature!)

![Screenshot_2019-05-27-21-29-41-025_com wha

[2019-05-28 08:54] adityastic commented on #328
https://gitlab.com/fdroid/fdroiddata/merge_requests/4894.

[2019-05-28 09:07] CloudyPadmal commented on #328
@adityastic I think it would be better if you can replace
[code]
part to something like
[code]

So whenever we make a release with the correct labeling, it will deploy automatically.

[2019-05-28 09:11] adityastic commented on #328
@CloudyPadmal I tried, https://gitlab.com/adityastic/fdroiddata/commit/85fb5e045e79612cb873bd1fc188ca0549b1904b but it failed to pass the lint.
Here is the list of pipelines : https://gitlab.com/fdroid/fdroiddata/merge_requests/4894/pipelines.

[2019-05-28 09:43] iamareebjamal commented on #328
AFAIK, it is passed. Plese change the config as pointed out by @CloudyPadmal

[2019-05-28 10:14] adityastic commented on #328
@iamareebjamal Sure

[2019-05-28 13:34] iamareebjamal commented on #328
Please test it locally before pushing

[2019-05-28 13:39] adityastic commented on #328
@iamareebjamal it passes the lint test locally. That's the reason It took so many pipelines for finalizing the merge request

[2019-05-29 12:52] #337 closed

[2019-06-01 06:53] adityastic opened #342 "viewmodels with koin"
**Describe the chore**
ViewModels can be implemented using koin. This cleans the code as the factory functions are all removed

**Would you like to work on the issue?**
YES

[2019-06-01 06:56] adityastic commented on #339
Sorry for being late, had some health issues. @mariobehling @iamareebjamal do you want this section to pop up like the keyboard or should I just toggle the visibility

[2019-06-01 06:58] adityastic commented on #339
@mariobehling also I did not get what you mean by ' Show a button on the editor in blue (like before) ', because there was no button before. Please give me feedback on this as well

[2019-06-01 09:46] mariobehling commented on #339
How can I get rid of showing the text editor? Before there was a button in blue. Now the only option is to press the back button. No-one understands that. We need a simple way to hide the text screen editor - the keyboard. Please check out how chat apps are doing it. We don't want to always show the keyboard.

[2019-06-01 09:47] #342 closed

[2019-06-01 10:13] adityastic commented on #339
@mariobehling I get your point, I can make it work. It's related with the inputmethod

[2019-06-02 04:12] adityastic commented on #339
@mariobehling Im afraid, it is a keyboard specific feature. Most of the keyboards dont support it because of the on screen buttons. The Back On Screen Button is morphed into a Down button when keyboard is being used to indicate that you can close your keyboard using that button.

[2019-06-04 19:42] #339 closed

[2019-06-05 16:08] adityastic commented on #283
the badge supports only 8 sections currently

[2019-06-05 16:09] adityastic commented on #270
@iamareebjamal @mariobehling fixed in the last pr. please close

[2019-06-05 16:11] adityastic commented on #296
@iamareebjamal the size of the images is currently in bytes. If you shift them to xml, it will increase rather decreasing. Just tested it out. Also the badge requires no longer than 40x11 images, converting them would increase the size rather than decreasing it

[2019-06-05 17:46] iamareebjamal commented on #296
[code]

All the more reason to make them SVG

[code]

Doesn't matter, they are binary, unchangeable and non scalable. If I want to edit them, those bytes will be added to the repo again. In SVG, only changes I do as text will be stored

Not every issue is a discussion. This has to be done

[2019-06-05 21:55] adityastic commented on #296
Got it

[2019-06-06 09:26] #328 closed

[2019-06-06 18:49] yashk2000 opened #347 "Update screenshots in the readme."
**Describe the chore**

Screenshots of the app should be updated in the readme along with text+clipart mode in the badge.

**Would you like to work on the issue?**

YES.

[2019-06-07 02:41] adityastic commented on #347
Yes please

[2019-06-07 03:47] adityastic commented on #268
@mariobehling will do this today

[2019-06-07 04:19] adityastic commented on #75
@iamareebjamal @mariobehling close this

[2019-06-07 08:21] #50 closed

[2019-06-07 08:22] #203 closed

[2019-06-07 08:24] mariobehling opened #351 "Only require Bluetooth to be activated when user presses "Transfer""
Currently the app requires users to switch on Bluetooth when the app starts. Expected: The user should only be prompted to switch on Bluetooth when the users presses "Transfer".

[2019-06-07 09:09] adityastic commented on #351
@mariobehling got it

[2019-06-07 13:46] mariobehling opened #353 "Center speed button, add number in the button"
Please center the speed button and move the number for the speed into the middle of the button itself.
<img width="547" alt="Screenshot 2019-06-07 at 3 15 54 PM" src="https://user-images.githubusercontent.com/11988517/59095923-50019b80-8937-11e9-8ef4-79f3ba3c008a.png">

[2019-06-07 13:51] mariobehling opened #354 "Enhance Emoticon/Text Icon Editor Choice"
The icon for emoticons looks different to what people are used to in Whatsapp etc. Please use a smiley to show the emoticon options and use a keyboard symbol to switch to text editing. Please compare to Whatsapp.

<img width="547" alt="Screenshot 2019-06-07 at 3 15 54 PM" src="https://user-images.githubusercontent.com/11988517/59095923-50019b80-8937-11e9-8ef4-79f3ba3c008a.png">

![nexus2cee_whatsa

[2019-06-07 13:53] mariobehling opened #355 "Only allow oneliners"
In the latest version the editor suddenly permits multi-line editing. The current devices don't have this feature. Please only allow one line.

[2019-06-07 14:00] mariobehling opened #356 "Invert LED effect should have a pixel line at beginning of word"
Using the invert LED effect with a number of characters appears strange as the beginning of the character is transparent just as the empty space before. Expected: Add a line of lighted pixels before.

![Screenshot_2019-06-07-15-57-56-700_org fossasia badgemagic](https://user-images.githubusercontent.com/1583873/59109587-9659f900-893d-11e9-822a-7bb4576bd9a8.png)

[2019-06-07 14:07] mariobehling opened #357 "Implement a drawing mode"
Implement a mode where the user can draw on the screen and create their own badge art.

1. Drawing mode should show the badge area in full in horizontal position.
2. The user can draw on the screen. There should be two functions
  a) draw (the user highlights anything s/he touches on the screen)
  b) delete (the user "unlights" anything s/he touches on the screen)

[2019-06-07 14:22] adityastic commented on #356
@mariobehling we cannot add a single line of pixels. In Order to add a single line of lighted pixels, we would have to add a total of 8 pixels in the very start, 7 transparent and 1 lighted. That will create 7 extra spacings in the front. The Badge accepts a 22bit hexadecimal string, and it has to be 22bits. we cannot make it less

[2019-06-07 14:23] adityastic commented on #354
ok sir

[2019-06-07 14:24] adityastic commented on #357
Great, this is very interesting

[2019-06-07 14:24] adityastic commented on #353
👍

[2019-06-07 14:25] adityastic commented on #355
@mariobehling can you show me how does multiline editor looks for you. I am not able to confirm this issue, it shows as single line to me. Please send me a screenshot for the same

[2019-06-08 13:53] #351 closed

[2019-06-08 16:14] #270 closed

[2019-06-08 16:19] mariobehling opened #361 "Fdroid badge on Readme not showing up"
The Fdroid badge on the Readme does not show up. Please add a badge into /docs/images and add it in the Readme.

[2019-06-08 17:13] adityastic commented on #361
On it

[2019-06-09 07:07] #75 closed

[2019-06-09 07:09] iamareebjamal commented on #356
@adityastic Ok, add as many lines which bound the starting character

[2019-06-09 07:15] #361 closed

[2019-06-09 09:46] adityastic commented on #356
@iamareebjamal i did not get what you mean by, add as many lines. Please elaborate

[2019-06-09 15:05] iamareebjamal commented on #356
There should be red color line/s on left of letter M

[2019-06-10 06:54] adityastic commented on #239
@mariobehling @iamareebjamal

[2019-06-10 06:54] adityastic commented on #271
@mariobehling @iamareebjamal

[2019-06-10 06:54] adityastic commented on #272
@mariobehling @iamareebjamal

[2019-06-10 06:54] adityastic commented on #282
@mariobehling @iamareebjamal

[2019-06-10 07:28] mariobehling commented on #239
@adityastic This should be possible. It does not depend on the font.

[2019-06-10 07:39] mariobehling commented on #271
Develop your own ideas.

[2019-06-10 07:41] mariobehling commented on #283
Ok, then. Thanks.

[2019-06-10 07:41] #283 closed

[2019-06-10 07:42] mariobehling commented on #355
By clicking "enter" it suddenly goes to two lines.

[2019-06-10 07:42] adityastic commented on #239
@mariobehling we are talking about the font we send to the device or the font in our application?

[2019-06-10 07:44] adityastic commented on #271
@mariobehling ok sir, let me think about what cool things I can create

[2019-06-10 07:45] iamareebjamal commented on #239
We send bitmap to pixel. Where do we send the font?

[2019-06-10 07:49] adityastic commented on #239
@iamareebjamal yes, we created hexadecimals of every character, then we convert the input string into characters and fetch the respective hexadecimal for the character. We are not sending the font

[2019-06-10 07:50] #306 closed

[2019-06-10 07:50] adityastic commented on #239
By sending the font, I meant the saved hexadecimal codes for every character

[2019-06-10 07:52] mariobehling opened #365 "Add different kinds of pixelated emojis and smileys"
Currently the most common smileys and emojis are not present in the list of emojis yet. Please add more. Also consider fitting in more emojis in one row. Compare to Whatsapp.

[2019-06-10 07:55] mariobehling opened #366 "Make app multilanguage capable"
Currently we only support English language. Please add more languages to the app.

[2019-06-10 08:00] mariobehling commented on #284
Apart from access to devices, you could research the size of the panels, e.g. how many pixels they use and consider the implementation needed. The technology of the panels is probably similar.

[2019-06-10 08:02] adityastic commented on #284
@mariobehling I will go out today to find out the possible led's and the ways to program it

[2019-06-10 08:11] iamareebjamal commented on #239
Nobody is talking about sending the font. We're talking about converting the font chars to bitmaps

[2019-06-10 10:33] #354 closed

[2019-06-10 10:34] #353 closed

[2019-06-11 03:41] adityastic commented on #238
@mariobehling I guess this is solved. We can not have emoticons in the same text field

[2019-06-11 05:05] adityastic opened #370 "Morphing Issues with Preview Badge"
**Describe the bug**
morphing issues with preview badge

<img width="420" alt="Screenshot 2019-06-13 at 9 19 20 AM" src="https://user-images.githubusercontent.com/11988517/59402537-62a72500-8dbc-11e9-8d55-1b8f60a956f7.png">

**Would you like to work on the issue?**
YES

[2019-06-11 06:02] #238 closed

[2019-06-11 11:43] mariobehling opened #372 "Implement animation where every character or letter is added step by step"
Please implement the animation to show every letter/character getting added one by one. When the badge is full show the next letters starting at the front of the screen.

[2019-06-11 11:44] mariobehling opened #373 "Add fan LED as additional device"
There are a number of FAN LEDs on the market. Please add support for more fan LEDs to the app, e.g. as in these apps:
* https://play.google.com/store/apps/details?id=com.usb.mpfan
* https://play.google.com/store/apps/details?id=com.molink.Brain.Z3Lan
* https://play.google.com/store/apps/details?id=com.molink.Brain.Z3
* https://play.google.com/store/apps/details?id=com.ihunuo.fanforbrookstone
* htt

[2019-06-11 12:43] adityastic commented on #372
Hey Mario. We cannot create our own animations as of now, the device only understands the animations we currently have. But I have a plan to make this happen, using the feature inside the badge which allows you to send 8 badge config to the device and it plays them one by one. Can we please implement that first and then move forward with this

[2019-06-11 12:44] adityastic commented on #373
Great Let me investigate more about these fans

[2019-06-11 17:48] adityastic opened #375 "Use Data Binding"
Use Data Binding with ViewModels

[2019-06-11 17:49] adityastic commented on #375
@iamareebjamal @mariobehling add this to next week's milestone

[2019-06-12 18:50] mariobehling commented on #150
Please avoid this feature as we don't want to focus resources on maintaining it. It is low priority and out of scope.

[2019-06-12 18:50] #150 closed

[2019-06-12 18:58] mariobehling commented on #370
What is the exact issue? Please describe the problem.

[2019-06-13 02:33] adityastic commented on #370
The preview badge will cut from the edges when you use the preview badge with other layouts

[2019-06-13 03:51] adityastic commented on #370
@mariobehling I've added an image check the layout when I applied margin to it. The Algorithm did not take all the conditions into consideration yet. We need to maintain it, because we cannot know these changes before hand for every condition possible

[2019-06-13 06:56] adityastic commented on #375
@iamareebjamal @mariobehling add this to next week's milestone

[2019-06-13 08:15] #357 closed

[2019-06-13 08:17] mariobehling commented on #370
Ok, thank you.

[2019-06-14 10:04] #370 closed

[2019-06-15 12:24] #366 closed

[2019-06-15 12:24] #347 closed

[2019-06-15 12:25] #355 closed

[2019-06-16 11:28] adityastic commented on #356
@mariobehling please shift it to next week's milestone. I need to add some intelligent algorithm which knows when to add a line and when to not.

[2019-06-17 09:36] #296 closed

[2019-06-17 09:42] mariobehling opened #384 "Enhance Emoticons/Cliparts"
Change Emoticons/Cliparts area as follows:
* Show 9 icons in a row
* Add most common smileys
* Add most common hand gestures

![296](https://user-images.githubusercontent.com/11988517/59589660-11729a80-9108-11e9-945f-cbe1718407d8.jpg)

[2019-06-17 13:11] #261 closed

[2019-06-18 07:28] adityastic opened #385 "draw badge option in navigation drawer"
**Describe the feature**
Include Draw Badge Function in Navigation Drawer

**Would you like to work on the issue?**
YES

[2019-06-18 07:29] adityastic opened #386 "Separate Edit Badges activity and Draw Layout Fragment"
**Describe the chore**
Separate Edit Badges activity and Draw Layout Fragment

**Would you like to work on the issue?**
YES

[2019-06-18 08:30] #386 closed

[2019-06-20 04:37] adityastic opened #390 "remove unused resources"
**Describe the chore**
Remove the Unused resources from the app

**Would you like to work on the issue?**
YES

[2019-06-20 04:38] adityastic opened #391 "translate strings to chinese for next release"
**Describe the chore**
translate strings to chinese for next release

**Would you like to work on the issue?**
YES

[2019-06-20 04:39] adityastic opened #392 "release 1.2.0"
**Describe the chore**
After Draw Layout is available to users, we can create another production build

**Would you like to work on the issue?**
YES

[2019-06-20 06:50] #384 closed

[2019-06-20 08:00] adityastic opened #394 "badge seems to cut off on devices with 19.5:9 ratio"
<img width="386" alt="Screenshot 2019-06-20 at 1 29 22 PM" src="https://user-images.githubusercontent.com/11988517/59831463-6fe58600-935f-11e9-87df-312a316d2e26.png">

**Would you like to work on the issue?**
YES

[2019-06-20 08:28] #394 closed

[2019-06-20 10:16] #385 closed

[2019-06-20 10:33] adityastic opened #398 "before-install script can be removed from yaml"
**Describe the chore**
before-install script can be removed as the function is being already performed in install script

**Would you like to work on the issue?**
YES

[2019-06-20 11:21] #391 closed

[2019-06-20 11:23] #390 closed

[2019-06-20 11:46] liveHarshit opened #401 "Update notification section"
**Describe the feature you'd like**
- [ ] Filter on basis of seen status
- [ ] Store notification in the database and revalidate from API
- [ ] Notify for new notifications

**Would you like to work on the issue?**

yes

[2019-06-20 11:48] liveHarshit commented on #401
Sorry, wrong repo.

[2019-06-20 11:48] #401 closed

[2019-06-20 11:49] mariobehling opened #402 "Add Screenshots to Fdroid"
Fdroid listing does not have any screenshots of the app. Please add it: https://f-droid.org/en/packages/org.fossasia.badgemagic/

[2019-06-20 12:32] mariobehling opened #404 "Add Badge Magic to FOSSASIA Website"
Please add the project to the FOSSASIA website:

- [x] logo to logo section
- [x] mobile app screen: https://github.com/fossasia/fossasia.org/issues/519
- [x] project listing on https://labs.fossasia.org/#projects

[2019-06-20 14:33] #398 closed

[2019-06-20 15:38] #392 closed

[2019-06-21 03:13] adityastic commented on #398
@iamareebjamal hey areeb, can you give me an insight on this issue?

[2019-06-21 05:48] adityastic commented on #402
Merge Request Submitted : https://gitlab.com/fdroid/fdroiddata/merge_requests/4973

[2019-06-21 07:58] adityastic commented on #402
Update: We need to include the screenshot in the app's repo. @iamareebjamal plz check https://f-droid.org/en/docs/All_About_Descriptions_Graphics_and_Screenshots/#in-the-apps-source-repository . It has an option for fastlane supply, please guide me how can I include the screenshots

[2019-06-21 11:03] iamareebjamal commented on #402
Follow the guide

[2019-06-22 04:50] adityastic opened #405 "section to show cliparts"
**Describe the feature you'd like**
creating a section to show all cliparts

**Would you like to work on the issue?**
YES

[2019-06-25 03:44] adityastic opened #409 "ability to delete cliparts"
**Describe the feature you'd like**
cliparts should be deletable

**Would you like to work on the issue?**
YES

[2019-06-25 03:46] adityastic opened #410 "prepare gh-pages"
**Describe the feature you'd like**
gh pages for badge magic

**Would you like to work on the issue?**
YES

[2019-06-25 15:36] yashk2000 opened #411 "Add a toast when a badge is saved."
**Describe the feature you'd like**
Right now when a badge is saved, no toast is shown. A toast should be shown when badge is saved.

**Would you like to work on the issue?**

YES.

[2019-06-25 16:27] yashk2000 opened #413 "Bluetooth automatically turned off when switching to Draw fragment."
**Describe the bug**
When user shifts to Draw fragment, bluetooth is automatically turned off.

**To Reproduce**
Keep bluetooth on and shift to draw fragment. Bluetooth turns off.

**Expected behavior**
Bluetooth should not turn off automatically.

**Would you like to work on the issue?**

NO.

[2019-06-25 16:27] yashk2000 commented on #413
@adityastic could you please confirm if this issue is faced by you too?

[2019-06-25 18:00] adityastic commented on #413
Yes, good job

[2019-06-26 12:01] yashk2000 commented on #413
@adityastic currently, Bluetooth is disabled whenever `onDestroy` is called. Should I remove `disableBluetooth()` from `onDestroy()`?
The user might not want to disable Bluetooth every time the app is closed.

[2019-06-26 12:28] adityastic commented on #413
@yashk2000 yes better

[2019-06-26 13:06] #405 closed

[2019-06-26 13:06] #411 closed

[2019-06-26 14:06] yashk2000 commented on #413
@adityastic ok. On it :+1:

[2019-06-28 11:45] #413 closed

[2019-06-28 11:46] ammarraisafti opened #416 "Badge Magic v1.2.0 - Application suddenly stops when saving "Badge""
# Actual behaviour
It should, though I don't allow applications to access location and storage on the device when starting the application.  This behavior will not stop the application when I save "Badge".

<code>According to my analysis, while storing "badge", the application must request back permission to access the location and storage on the device.</code>

# Expected behaviour
This applicati

[2019-06-28 12:06] adityastic commented on #416
Thank you so much for reporting.

[2019-06-29 04:31] adityastic opened #420 "ability to edit badges"
**Describe the feature you'd like**
Creating a new activity which handles editing badges

**Would you like to work on the issue?**
YES

[2019-06-29 05:35] #416 closed

[2019-06-29 06:13] #409 closed

[2019-07-01 08:23] mariobehling opened #421 "Update apk names and take out not needed ones"
The following APKs are not essential. Please take them out of the generation:

* badge-magic-master-app-release-unaligned.apk
* badge-magic-dev-app-release-unsigned.apk

Further take out the word "app" from all APK names, e.g.
badge-magic-dev-debug.apk instead of badge-magic-dev-app-debug.apk.

[2019-07-01 08:42] adityastic commented on #421
Done

[2019-07-01 09:01] iamareebjamal commented on #421
Done where?

[2019-07-01 10:05] adityastic commented on #421
@iamareebjamal done as in, will be done

[2019-07-02 03:44] XAMIR555 opened #423 "(Badge Magic) [Version 1.2.0] The application crashes when I use Draw Clipart option and draws some application crashes."
#### Project Information
* Repository-----------:[Here](https://github.com/fossasia/badge-magic-android)
* Project Name---------: [Badge Magic ](https://play.google.com/store/apps/details?id=org.fossasia.badgemagic&ah=dWLy7rQKg16yxp3OLlfGsqjnp8c)
* Publisher------------: [FOSSASIA](https://github.com/fossasia)
* My GitHub account----:  [Here](https://github.com/XAMIR555)

#### Expected behavior
Wh

[2019-07-02 04:19] adityastic commented on #423
@yashk2000 please confirm this error

[2019-07-02 04:21] adityastic commented on #423
@XAMIR555 please specify the device as well

[2019-07-02 04:23] XAMIR555 commented on #423
@yashk2000  my devices samsung A20 android version 9.0.0

[2019-07-02 04:27] XAMIR555 commented on #423
![20190702_084938](https://user-images.githubusercontent.com/49812927/60482597-06128980-9c47-11e9-9c80-b93486c7f299.gif)

[2019-07-02 04:34] XAMIR555 commented on #423
![Screenshot_20190702-092431_Settings](https://user-images.githubusercontent.com/49812927/60482851-fe071980-9c47-11e9-8745-78fb662b0e03.jpg)

[2019-07-02 04:40] adityastic commented on #423
@XAMIR555 thanks. I personally tested it on the S9+ and it does work for me. Let's see what @yashk2000 comes up with

[2019-07-02 04:41] yashk2000 commented on #423
It works for me too. I tried it in a Nokia 7 Plus, Android 9.

[2019-07-02 04:41] XAMIR555 commented on #423
@adityastic  welcome sir

[2019-07-02 04:42] XAMIR555 commented on #423
@yashk2000  some time work fine and many time app crashing on my devices

[2019-07-02 04:44] XAMIR555 commented on #423
@yashk2000  and i don,t know what is  problem because  i am zero knowledge about programing

[2019-07-02 04:47] adityastic commented on #423
@XAMIR555 no issues sir, You've done a great job reporting this issue. This will be fixed very soon. Sorry for any inconvenience caused

[2019-07-02 04:48] XAMIR555 commented on #423
@adityastic  thanks you sir for your feedback

[2019-07-02 05:20] adityastic commented on #423
@XAMIR555 Please check the debug application here https://github.com/fossasia/badge-magic-android/pull/424

[2019-07-02 05:21] XAMIR555 commented on #423
@adityastic  just a minute i check and give you repose

[2019-07-02 05:27] XAMIR555 commented on #423
@adityastic  thanks you sir Bug has been fixed now

![20190702_102526](https://user-images.githubusercontent.com/49812927/60484692-483fc900-9c4f-11e9-935e-31a4eb4354f2.gif)

[2019-07-02 05:28] yashk2000 commented on #423
@XAMIR555 great. Thanks for reporting the bug :+1:

[2019-07-02 05:29] #423 closed

[2019-07-02 05:29] adityastic commented on #423
@XAMIR555 Great. Please keep reporting issues, we are open to your feedbacks as well :). Glad it is resolved now. You Should receive the official update on playstore this weekend

[2019-07-02 05:30] XAMIR555 commented on #423
great sir nice to meet you

[2019-07-02 12:16] mariobehling commented on #402
This issue is not solved.

[2019-07-02 12:21] adityastic commented on #402
@mariobehling the screenshots get updated when we release a new build. We did not release a new build yet. As soon as we release a new version, fdroid will build the next release on their repo and add the screenshots

[2019-07-02 14:30] #421 closed

[2019-07-05 02:42] adityastic opened #427 "support aab uploads"
**Describe the chore**
We can improve the upload script and support uploading .aab files

**Would you like to work on the issue?**
YES

[2019-07-05 10:32] #427 closed

[2019-07-05 11:30] ShridharGoel opened #430 "Malformed AAB and APK filenames"
**Describe the bug**
Malformed AAB filename: badge-magic-dev-aab
Malformed APK filenames: badge-magic-dev-app-debug.apk (The word 'app' shouldn't be there in the APK names)

**Would you like to work on the issue?**
Yes

[2019-07-05 11:33] mariobehling opened #431 "Text in edit screen disappears on turning phone to widescreen"
When I edit the screen and I turn the phone the text disappears.

[2019-07-05 12:25] #430 closed

[2019-07-06 02:16] adityastic commented on #431
@yashk2000 confirm this for me plz

[2019-07-06 02:34] yashk2000 commented on #431
@adityastic the text in the edit text disappears on orientation change.

[2019-07-06 02:50] adityastic commented on #431
In the Create Badge Section?

[2019-07-06 02:53] yashk2000 commented on #431
Yes.

[2019-07-07 08:42] iamareebjamal opened #436 "App deployment failing"
https://github.com/fossasia/badge-magic-android/commit/4b37592625ba07daa6b9b0812bbfcfdf4cf40f9d#diff-f6341c962b5244e071d20a184d619bc7R71

@adityastic Why did you change ../scripts/fastlane.json to fastlane.json?

The app deployment is failing. Please fix ASAP

[2019-07-08 04:16] adityastic commented on #436
@iamareebjamal I was out this weekend. I just got back. Had no internet connection. Do you want me to take this over?

[2019-07-09 11:24] iamareebjamal commented on #436
Already fixed it

[2019-07-09 11:24] #436 closed

[2019-07-10 13:42] #431 closed

[2019-07-10 13:44] #420 closed

[2019-07-14 16:01] adityastic commented on #402
https://f-droid.org/en/packages/org.fossasia.badgemagic/ . Screenshots are updated xD

[2019-07-14 16:01] #402 closed

[2019-07-14 16:05] iamareebjamal opened #442 "Add changes to fdroid metadata"
Latest changes are not compatible with fdroid build server, please add these to the fdroid metadata

https://gitlab.com/fdroid/fdroiddata/merge_requests/5053/diffs

https://gitlab.com/fdroid/fdroiddata/merge_requests/5055/diffs

[2019-07-14 16:35] adityastic commented on #442
@iamareebjamal badge magic was originally proposed as a yml. so https://gitlab.com/fdroid/fdroiddata/merge_requests/5055/diffs would not be required.

[2019-07-14 17:00] iamareebjamal commented on #442
Take a look at the change carefully https://gitlab.com/fdroid/fdroiddata/merge_requests/5053/diffs#b3d66a210e9933feb51453da225fbb5d9b3992c1_55_55

[2019-07-14 17:01] iamareebjamal commented on #442
I have given the second link as a reference to what the latest yml after changes will look like

[2019-07-15 01:40] adityastic commented on #442
Great, should be done in some time

[2019-07-15 16:18] adityastic commented on #442
Merged :)

[2019-07-15 16:18] #442 closed

[2019-07-18 03:02] adityastic opened #446 "bump kotlin version"
**Describe the chore**
bump kotlin version to 1.3.41

**Would you like to work on the issue?**
YES

[2019-07-18 07:47] #446 closed

[2019-07-18 08:46] #356 closed

[2019-07-23 15:14] adityastic opened #449 "release 1.4.0"
**Describe the chore**
It has been 2 weeks since we updated the playstore build

**Would you like to work on the issue?**
YES

[2019-07-23 18:45] adityastic opened #451 "update build version to 1.4.0"
**Describe the chore**
update build version to 1.4.0

**Would you like to work on the issue?**
YES

[2019-07-23 18:52] #451 closed

[2019-07-24 02:35] #449 closed

[2019-07-28 05:34] adityastic opened #455 "improve fastlane usage and scripts"
**Describe the chore**
improve the usage of fastlane and make scripts more readable

**Would you like to work on the issue?**
YES

[2019-07-29 06:03] #455 closed

[2019-07-30 22:03] lanrat opened #460 "Support Multicolored LED badges"
**Describe the feature you'd like**
Some LED badges support more than one color, it would be awesome if this app supported that!

example: https://smile.amazon.com/VBLab-Upgraded-Wireless-Bluetooth-Rechargeable/dp/B07S1DVJH4/

[2019-07-31 02:10] adityastic commented on #460
@mariobehling your thoughts on this?

[2019-07-31 08:54] adityastic commented on #410
@iamareebjamal @mariobehling wants me to generate gh-pages using travis. Can you help me out on what needs to be done, I'm not able to understand what needs to be done exactly. Any reference would be helpful. Thanks

[2019-07-31 13:59] iamareebjamal commented on #410
I suppose he wants yaydoc to build them https://dev.yaydoc.org/

[2019-08-01 02:43] lanrat commented on #85
I just ordered a new badge that also uses the CoolLED1248 app and is incompatible with this app. It does not appear to ever be detected.

[2019-08-01 02:55] adityastic commented on #85
@lanrat hi sir, would you mind sharing the link of the badge with me?

[2019-08-01 03:01] adityastic commented on #85
@lanrat are you talking about the vslab badge? If yes, would you mind contacting me personally. I would like examine the uuid of that badge in order to get it working

[2019-08-01 03:30] lanrat commented on #85
I ordered this VBLab one: https://smile.amazon.com/gp/product/B07P5X28JY

I've attached a screenshot of the UUID from the [BLE Scanner App](https://play.google.com/store/apps/details?id=com.macdom.ble.blescanner)
![ble](https://user-images.githubusercontent.com/164192/62263584-a0462880-b3d1-11e9-95ff-7c6ba1765cd4.png)

Also, it looks like this tag is 48x12 while the one demoed in this app is 44x11

[2019-08-01 04:31] adityastic commented on #85
@lanrat yes sir, can you contact me personally regarding this support? I am sure we can get this through easier fast

[2019-08-01 05:23] mariobehling commented on #460
The LED colors are not changeable. It is just a different color of the LED lights. This is the same thing as what we have. The app of the seller is not good: https://play.google.com/store/apps/details?id=com.yannis.ledcard&hl=en_US

It would be great to really have LEDs that can show different colors, but this is currently not the case. Closing it therefore.

[2019-08-01 05:23] #460 closed

[2019-08-01 05:49] lanrat commented on #460
You appear to be correct that the LEDS are different individual colors, however the app you linked to is not compatible with that device. Instead it uses the CoolLED1248 app. See the discussion in #85.

[2019-08-01 06:47] adityastic commented on #410
@iamareebjamal http://yaydoc.org/ does not seem to work.

[2019-08-02 11:36] adityastic commented on #410
@iamareebjamal any updates on what is the motive behind pushing gh pages from travis?. After researching about it seems that it is useful only when you want to keep the api documentation updated. I cannot find anything related to a project website being updated other than keeping the latest app upto date in the website

[2019-08-02 12:49] iamareebjamal commented on #410
No idea

[2019-08-02 17:12] adityastic commented on #410
@mariobehling please enlighten me about the use case

[2019-08-04 08:56] adityastic opened #461 "improve scripts with travis deploy tag"

[2019-08-05 16:32] yashk2000 commented on #175
@adityastic is this feature really needed? On rotation, the badge is almost full screen. It is pretty clear without pinch to zoom or anything. If a full-screen icon is implemented, it's not like the badge would occupy the entire screen.
What's your opinion on this?

[2019-08-05 18:01] adityastic commented on #175
Yes true, should be closed

[2019-08-05 18:01] #175 closed

[2019-08-06 07:42] #461 closed

[2019-08-12 09:58] mariobehling opened #466 "Draw: Preselect "Draw" when going to draw screen"
On the draw screen please pre-select "draw" when the user opens the screen.

[2019-08-12 09:59] mariobehling opened #467 "Turning screen from vertical to horizontal direction deletes entered text/data for badge"
When the user turns their phone the text/data in the enter field is disappears.

[2019-08-12 16:07] #466 closed

[2019-08-13 13:39] fcartegnie opened #469 "Saved badge ux is confusing"
Saved badge transfert needs to be selected in red through the "play" icon,
then select the gear icon and popup for transfert.
This is way too complex, and buggy because transfert can be activated when no badge is selected.

Should be improved by :
-> Set a global transfert button in preview UI
-> Select source badge with just one tap
-> Select first source badge by default

[2019-08-14 00:46] adityastic commented on #469
@mariobehling @iamareebjamal suggestions plz

[2019-08-14 10:21] adityastic commented on #467
This is fixed as I remember. It must not be updated on playstore. lets release a version on playstore to get this updated. Confirmation video with the latest dev build:
https://drive.google.com/open?id=1-InJcZNEzNTVNQ2M5qFOZ3MCIk5DOgiV

[2019-08-14 10:21] adityastic opened #471 "release 1.5.0"

[2019-08-14 15:25] #410 closed

[2019-08-14 15:52] #467 closed

[2019-08-14 16:18] #471 closed

[2019-08-14 16:18] #375 closed

[2019-08-14 16:20] iamareebjamal commented on #375
Is this done or ignored?

[2019-08-14 16:32] adityastic commented on #375
@iamareebjamal the rest of the activities I was planning to add data binding to have adapters linked to the viewmodel. If I move forward, it will make the project fairly complex for people who are starting to understand this project, that's why I closed this issue

[2019-08-17 05:02] adityastic opened #476 "Update README"

[2019-08-19 07:02] #476 closed

[2019-08-19 07:16] mariobehling opened #478 "Improve and Fix Saved Badge: Editing saved badge open edit cliparts editor and popup alternative"
1. Saved badge should be edited through the badge edit screen
2. Turning screen of saved badges to horizontal mode suddenly switches the app screen to edit badges mode
3. The popup functions "Perform Operation" should be included on the badge tab itself instead of in the popup. Please make changes as follows:
* Change "Share" to "Export" and open screen to "Save Item" instead of "Share Item"
* Sho

[2019-08-19 07:19] mariobehling opened #479 "Edit Badge Screen / Edit Clipart Screen"
1. Add an "Open Folder" icon to the edit badge screen on the top right of the screen on the menu bar. The icon should open "Saved Badges".
1. Add an "Open Folder" icon to the edit clipart screen on the top right of the screen on the menu bar. The icon should open "Saved Cliparts".

[2019-08-19 07:22] mariobehling opened #480 "Draw Clipart Screen - Cannot draw"
Opening the draw clipart screen shows the "Draw" icon highlighted, which means drawing is enabled. However drawing does not work.

![Screenshot_20190819_092055_org fossasia badgemagic](https://user-images.githubusercontent.com/1583873/63246419-ee2cae80-c262-11e9-97d5-f649392f1eb3.jpg)

[2019-08-19 07:29] mariobehling opened #481 "Improve Edit Clipart Screen - Size and Buttons"
The Edit Clipart screen does not use the space optimally.

Please change and fix the following:
* Increase the size of the badge
* Decrease the size of the buttons, but ensure the spacing between buttons is sufficient to tab them on the phone
* Use the same rounded corners of the badge on all four badge corners.

Expected something like this:
![63246419-ee2cae80-c262-11e9-97d5-f649392f1eb3](https:

[2019-08-19 20:57] #480 closed

[2019-08-27 05:27] mariobehling opened #486 "Readme.md: Add screenshots to /docs/images and add them into the Readme"
The Readme.md currently contains screenshots from the Fastlane deployment. All documentation for the project itself should be using the /docs folder. Please **add the screenshots** to /docs/images and link those screenshots instead.

[2019-08-27 06:08] iamareebjamal commented on #486
Can't change that. F-Droid and play store screenshot upload will fail

[2019-09-03 09:41] mariobehling commented on #486
@iamareebjamal It is ok to duplicate images. The docs folder should be self-contained just like in other projects. Please duplicate the images. Don't try symlinks or something. Just add images into the docs/image folder itself please. If we use auto-generation of the docs it also fails. Let's keep our options simple and ready for auto-building documentation. Thanks

[2019-09-03 09:43] mariobehling commented on #486
Don't use fastlane folder images for the Readme.md. Please always use everything in the /docs folder only for documentation.

[2019-09-03 10:22] iamareebjamal commented on #486
But then we'll have the same problems as other repositories are having. The size will increase without any reason. Even now, the images and the deleted ones contribute to 80% of the repo size. And in the future as well new images will monotonically increase the size of repo beyond control. The solution will be to continuously clean git history which is not only a cumbersome process, but results in

[2019-09-03 10:25] iamareebjamal commented on #486
When building docs, we can add a command to copy the images in correct folder. Adding binary files in git repos lead to several problems which Phimp.me faced and PSLab is facing. Duplicating will also add to cognitive load where people will add the image in one place and forget to add/delete/modify it in another

[2019-09-03 13:46] mariobehling commented on #486
@iamareebjamal I am not sure if this is over-engineering. These will not make up a lot of space even over time. These images are usually very small and we had problems in the past, because images are not in the docs folder, but somewhere else. This is still the case today with phimp.me. We want to generate automatic builds of websites from the docs folder as soon as possible again. Better keep it

[2019-09-03 14:21] iamareebjamal commented on #486
@adityastic Please move the files in docs folder and copy when uploading to fastlane

[2019-09-03 16:35] adityastic commented on #486
@iamareebjamal got it, working on it

[2019-09-04 20:14] abhigupta19 opened #490 "Bluetooth manger"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Logs**

**Screenshots**

**Smartphone Info:**

|               |   |
|---------------|---|
|Device         ||
|Android Version|    |

**Additional context**

**Would you like to work on the issue?**

[2019-09-04 20:14] #490 closed

[2019-09-05 10:47] adityastic opened #491 "update gradle plugin"
**Describe the chore**
update gradle plugin to 3.5.0

[2019-09-05 12:21] adityastic opened #492 "Improve Script by Caching Bundler"
**Describe the bug**
Currently when the script runs, it takes 1-2 minutes just to download fastlane, we can cache the bundler to improve time

**Additional context**
Use Travis to Cache bundler

[2019-09-05 12:23] #491 closed

[2019-09-06 12:00] klutzayyyy commented on #492
I would like to work on this issue.

[2019-09-06 12:01] adityastic commented on #492
@klutzayyyy go ahead

[2019-09-06 13:25] #486 closed

[2019-09-07 13:48] adityastic opened #498 "change target api to 29"
**Describe the feature you'd like**
Change the target android api to 29 instead of 28

[2019-09-08 03:52] leela52452 opened #499 "add changelog"
can you please add changelog.
what is [CHANGELOG](https://en.m.wikipedia.org/wiki/Changelog) ?

[2019-09-08 04:14] yashk2000 commented on #499
@leela52452 we do maintain a changelog [here](https://github.com/fossasia/badge-magic-android/releases). It is updated after every release.

[2019-09-08 04:46] leela52452 commented on #499
@yashk2000 oh.... it is part of release. hmm...
i was expecting in a separate file, helps me understand the direction and progress of project over a period of time.
something is better than nothing.

[2019-09-08 04:50] yashk2000 commented on #499
You can see changes for all the releases. From the beginning till now.

[2019-09-08 08:50] #499 closed

[2019-09-08 18:16] adityastic opened #500 "build deploy issue in forks"
**Describe the issue**
the deploy section in travis executes on forks, we should only execute it when we work on our repo

**Would you like to work on the issue?**
NO

[2019-09-14 19:52] Zyro9922 commented on #500
Can you guide me on how to go about solving this? I want to work on it.

[2019-09-14 19:55] adityastic commented on #500
@Zyro9922 sure, you need to read about the deploy conditions used in travis and add our repo as a condition

[2019-09-14 20:11] klutzayyyy commented on #498
I'd like to work on it.

[2019-09-14 20:12] adityastic commented on #498
Go ahead

[2019-09-14 20:17] #492 closed

[2019-09-14 20:20] adityastic commented on #469
@mariobehling plz give your suggestions

[2019-09-15 11:20] #481 closed

[2019-09-15 11:22] adityastic commented on #500
@Zyro9922 any updates?

[2019-09-15 12:55] #498 closed

[2019-09-15 14:03] #500 closed

[2019-10-02 13:01] www-asics-ws opened #507 "Getting Started"
Guys, where are the "Getting Started" instructions. When I try to connect to the display via Bluetooth, I get an error on my android phone:

![20191002_195419](https://user-images.githubusercontent.com/32382768/66046195-759e5a80-e54f-11e9-9b2a-3a67b9f3c25f.jpg)

[2019-10-06 23:20] lanrat opened #509 "BMP import/export"
**Describe the feature you'd like**
It would be great if the badge magic app could export and import bmp images

**Additional context**
The [OEM app](https://play.google.com/store/apps/details?id=com.yannis.ledcard) has this feature.

[2019-10-06 23:24] lanrat opened #510 "Allow using, enabling, and disabling all 8 memory slots"
**Describe the feature you'd like**
The LED name tags have 8 memory slots that can have different configurations saved to and enabled/disabled. Each individual memory slot can be enabled or disabled, rotated through, or manually selected. Currently the Badge Magic app only used the first memory slot.

**Additional context**
The [OEM app](https://play.google.com/store/apps/details?id=com.yannis.led

[2019-10-06 23:30] lanrat opened #511 "Default font does not allow 6 character messages without scrolling"
**Describe the bug**
When displaying a 6 character message on the badge using the badge magic app, the 6th character is cut off midway through and requires the badge to scroll to see the entire message. The [OEM app](https://play.google.com/store/apps/details?id=com.yannis.ledcard) does not have this issue.

**To Reproduce**
Set a 6 character message and send it to the badge.
To compare, do the sa

[2019-10-06 23:46] adityastic commented on #511
Aye, sounds good. Let's get this working

[2019-10-06 23:47] adityastic commented on #510
Yes, let me open an issue to create the core classes for it

[2019-10-06 23:48] adityastic commented on #509
Let me look what changes are required to read this binary

[2019-10-06 23:48] adityastic opened #512 "Create core classes for 8 memory slots"
Co issue #510

[2019-10-13 10:56] mariobehling opened #517 "Unicode not working - non Latin languages not supported"
Currently we cannot see non-latin characters displayed on the badge. Please add support for Unicode.

![Screenshot_20191013_175442_org fossasia badgemagic](https://user-images.githubusercontent.com/1583873/66714612-d432c680-ede2-11e9-8550-2681862c5417.jpg)

[2019-10-26 17:49] refactor-droidyy commented on #479
@mariobehling can i work on this issue ?

[2019-10-26 18:13] adityastic commented on #479
@refactor-droidyy go ahead

[2019-10-26 19:32] refactor-droidyy commented on #479
@adityastic open folder icon is not showing  instead of using oncreateoptionmenu and onoptionItemselected in the edit badge and edit clipart files can u help

[2019-10-28 07:21] adityastic commented on #479
@refactor-droidyy I'm sorry, didn't get what you meant. I'd love to help

[2019-10-28 07:22] adityastic opened #521 "Android 10 Support"

[2019-10-28 08:51] adityastic opened #523 "fix deprecated calls in adapter"

[2019-10-28 09:15] adityastic commented on #507
@www-asics-ws you don't have to pair a ble to send data to it

[2019-10-28 09:15] #507 closed

[2019-10-30 23:04] #523 closed

[2019-11-01 17:58] harshshinde07 opened #527 "App crashes when you try to delete an intermediate bitmap"
**Describe the bug**

When you insert 2 or more bitmaps in the input field and try to delete any intermediate bitmap (i.e. any, except the last) the app crashes.

**To Reproduce**

1. Insert more than one bitmaps into the input field.
2. Try deleting any bitmap except the last.

**Expected behavior**

The bitmap before the cursor should get removed without causing the application to crash.

**Logs

[2019-11-02 07:13] refactor-droidyy opened #528 "App Crashes While Deleting ClipArts In SavedClipArt"
**Describe the bug**

When you try to delete any saved clipart the app crashes.

**To Reproduce**

1. Draw one or more clipart.
2. Now Navigate to Saved Clipart section in Navigation drawer and try to delete any clipart.

**Expected behavior**

The selected clipart should be deleted and the app doesn't crash

**Logs**

 java.lang.IndexOutOfBoundsException: Empty list doesn't contain element at ind

[2019-11-02 07:20] refactor-droidyy commented on #528
@mariobehling I want to work on this issue

[2019-11-02 07:54] refactor-droidyy commented on #517
@mariobehling can i work on this issue

[2019-11-02 08:54] adityastic commented on #517
@refactor-droidyy go ahead

[2019-11-02 08:55] adityastic commented on #528
@refactor-droidyy go ahead

[2019-11-12 08:54] Rajchowdhury420 opened #530 "Typing erors in README"
**Describe the chore**
There are some minor typing mistakes in README

line 1  :- Security in Bluetooth LE devices is optional, and many cheap products you can find on the market are not secured at all

line 2 :- As we understand how the Bluetooth LED badge works, converting a text to multiple byte arrays

**Would you like to work on the issue?**
Sure !

[2019-11-12 09:02] adityastic commented on #530
@Rajchowdhury420 please point the typos in the readme to get complete information on the issue

[2019-11-12 11:50] #530 closed

[2019-11-16 16:04] tanmayrauth opened #533 "Share app details across various social media platforms"
**Describe the feature you'd like**
It will be a button in navigation drawer that will help users to share details about the application across various social media. So that their friends can also get to know about this app and download it.
This feature will help in increasing users and creating awareness about this app across social media platforms

**Would you like to work on the issue?**
Yes, I

[2019-12-13 18:58] adityastic opened #542 "Android 10 Storage Support"
**Describe the bug**
According to the updated Privacy Policies in Android 10 ( https://developer.android.com/training/data-storage#scoped-storage ), we are only allowed to use app specific directories.

**Would you like to work on the issue?**
YES

[2019-12-13 20:28] #542 closed

[2019-12-14 14:32] #479 closed

[2019-12-14 14:35] adityastic opened #544 "Shift to App Specific Directory for storing Badge and Clipart's"
**Describe the bug**
We are currently using the external storage to save badges and clipart's. Lets change the directory to app specific external storage.

**Additional context**
Change the current directory from External Storage to App Specific directory.

[2019-12-14 14:37] adityastic commented on #544
@refactor-droidyy would you like to work on it? Hint: All the File Storage is handled in StorageUtils

[2019-12-14 14:38] refactor-droidyy commented on #544
@adityastic yes I will

[2019-12-14 14:38] adityastic commented on #544
@refactor-droidyy let me know if you need help with anything. Good Luck 👍

[2019-12-14 14:58] adityastic opened #545 "Release 1.6.0"
Its been 35+ commits since we released a new build. let's release 1.6.0

[2019-12-14 14:59] adityastic opened #546 "update build number and changelog for 1.6.0"

[2019-12-14 15:25] #546 closed

[2019-12-14 17:01] refactor-droidyy opened #550 "Backpress Button to exit App"
**Describe the bug**
As you press the back button when you are in MainScreen i.e (Create Badge) the app closes .

**Expected behaviour**
A Toast Message("Press Back Again To Exit") Should appear if the back button is pressed(May be Accidentally pressed by user).
On double-clicking, within 2 seconds the app should close.

![before](https://user-images.githubusercontent.com/44283521/70850931-ba32648

[2019-12-14 17:01] refactor-droidyy commented on #550
@adityastic I want to work on this.

[2019-12-14 17:06] adityastic commented on #550
@refactor-droidyy sure go ahead

[2019-12-14 17:07] #545 closed

[2019-12-14 17:53] iamareebjamal commented on #550
This is a non standard behaviour and not recommended

[2019-12-14 17:54] adityastic commented on #550
@refactor-droidyy we should not do it then

[2019-12-14 17:54] #550 closed

[2019-12-14 18:19] refactor-droidyy opened #554 "No Redirection after saving the drawn clipart"
**Describe the feature you'd like**

 When a user on draw clipart screen after saving the clipart the toast appears only. user should be redirected to saved clipart screen too. it is working like this  ->

![saveclipart](https://user-images.githubusercontent.com/44283521/70852802-bf021300-1ecb-11ea-907c-d3fd9afb9e8f.gif)

**It should work like this ->**
![clipartsavedsuccesly](https://user-images.

[2019-12-14 18:23] refactor-droidyy commented on #554
@adityastic @iamareebjamal is this issue appropriate can i work on this?

[2019-12-14 18:24] iamareebjamal opened #555 "Deployment script did not fail"
When fastlane failed, deployment script did not and marked the build as successfull

[2019-12-14 18:26] adityastic commented on #554
What if I want to draw more cliparts at the same time xD

[2019-12-14 18:30] adityastic commented on #555
checking

[2019-12-14 18:33] iamareebjamal opened #556 "Pre-Launch report for app v1.6.0"
![image](https://user-images.githubusercontent.com/3874064/70852977-038eae00-1ece-11ea-87e0-aeaa16faf933.png)

Crashes

[code]

https://storage.googleapis.com/play-mtaas-results-prod/org.fossasia.badgemagic/8/sailfish-25-de_DE-portrait/video.mp4?GoogleAccessId=498997737111-pmn4sf5896c460sheh5fv3k1j1cq46t5@developer.gserviceaccount.com&Expires=1576961476&Signature=kdVxYCOgmzXzHXiCF%2B%2Bb%2BRCi3FZ2

[2019-12-14 18:47] adityastic commented on #556
@refactor-droidyy would you like to work on it?

[2019-12-14 18:58] #555 closed

[2019-12-15 06:47] Neilblaze opened #558 "Irresponsive app after saving the drawn clipart!"
**Describe the chore**
This is occuring on my Moto g3 Android 6.0. As soon as I complete my clipart and try to save it, the display becomes irresponsive! Moreover there is no redirection option.

**Would you like to work on the issue?**
No.

[2019-12-15 08:27] refactor-droidyy commented on #556
@adityastic yeah sure.

[2019-12-15 08:33] #554 closed

[2019-12-18 02:01] #544 closed

[2019-12-19 15:19] adityastic commented on #556
@iamareebjamal the token expired, please refresh the links whenever you are available. Thanks a ton

[2019-12-19 15:21] adityastic commented on #556
@iamareebjamal it looks like the token in the links expired, please update the links whenever you come online. Thanks a ton again

[2019-12-21 19:31] iamareebjamal commented on #556
They'll expire again.

[2019-12-21 20:06] adityastic commented on #556
@iamareebjamal I'll download it

[2019-12-21 20:13] adityastic opened #561 "Refactor Storage Utils and remove legacyStorage"

[2019-12-21 20:22] iamareebjamal commented on #556
Updates

[2019-12-21 20:25] #561 closed

[2019-12-21 20:32] adityastic commented on #556
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/11988517/71313450-f115f680-2430-11ea-8a39-f7331f6a3ca0.gif)
![ezgif com-video-to-gif-2](https://user-images.githubusercontent.com/11988517/71313454-f3785080-2430-11ea-9d7e-b486ea2004d1.gif)

[2019-12-21 20:32] adityastic commented on #556
@refactor-droidyy please have a look

[2019-12-22 00:01] #517 closed

[2019-12-22 06:08] refactor-droidyy commented on #478
@adityastic can I work on this?

[2019-12-22 09:28] adityastic commented on #478
@refactor-droidyy sure. Please check the app log first. So we can release the application first

[2019-12-22 13:36] tanmayrauth commented on #533
This is now merged

[2019-12-22 13:36] #533 closed

[2019-12-22 14:46] tanmayrauth opened #564 "Navigation drawer header UI fix"
**Describe the bug**
Previously the header in navigation drawer was blank with unwanted view object with no appname

**To Reproduce**
Added Screenshot for this

**Expected behavior**
Removed unwanted padding and view object from header and added appname with expected padding.

**Screenshots**

![image](https://user-images.githubusercontent.com/18233626/71323447-3e5d9b00-24f9-11ea-83b2-a50cbed7261c

[2019-12-23 14:34] tronku commented on #527
I want to work on this.

[2019-12-23 15:26] adityastic commented on #527
@tronku sure

[2019-12-23 17:52] tronku commented on #528
Can I work on this issue? It has been quite long I guess. I have resolved this issue.

[2019-12-23 19:16] adityastic commented on #528
@tronku sure, go ahead

[2019-12-23 20:17] #528 closed

[2019-12-23 20:34] refactor-droidyy opened #569 "Latest saved sadges items are shown at bottom"
**Describe the feature you'd like**
Currently, when you try to add a new Badge it gets added in reverse order as can be seen in Saved Badge Fragment

**Additional context**
The latest badge should be on the top of the list shown in recycler view of SavedBadge

[2019-12-23 21:28] refactor-droidyy opened #571 "Improve AboutUs"
**Describe the feature you'd like**
Design for cards in Aboutus needs to get a little upgraded.

[2019-12-23 21:48] #571 closed

[2019-12-24 09:22] refactor-droidyy opened #573 "Add Support for French Language"
**Describe the feature you'd like**
Add Support for the French language.

[2019-12-24 10:10] adityastic commented on #573
Good thought, but it is harder to maintain languages and themes at the moment. Let's not have this feature right now

[2019-12-24 11:21] #573 closed

[2019-12-24 11:52] #404 closed

[2019-12-25 14:22] tanmayrauth commented on #564
@adityastic  how can we add codeheat and fix label to it ?

[2019-12-25 14:28] adityastic commented on #564
Only the maintainers have the access to do that. Don't worry I'll add them

[2019-12-25 14:37] tanmayrauth commented on #564
Thanks

[2019-12-26 00:13] T-vK commented on #282
I'm also very much interested in this. Especially for the cheap ones:
https://www.aliexpress.com/item/32854131975.html
Tell me if I can assist in any way.

[2019-12-26 02:20] adityastic commented on #282
@T-vK sure, please go ahead with the implementation

[2019-12-26 14:49] #569 closed

[2019-12-26 15:27] adityastic opened #575 "Kotlin Multiplatform Discussion"
**Describe the feature you'd like**
Shift the model code to a multiplatform kotlin native

[2019-12-26 18:41] #527 closed

[2019-12-26 18:48] adityastic commented on #558
Please give us more insights

[2019-12-26 21:06] refactor-droidyy opened #577 "Uneven display (listing) of Clipart"
**Describe the bug**
 Saved cliparts does not have a definite order i.e neither increasing nor decreasing.

**To Reproduce**
Draw Cliparts from number 1 to 4 in increasing order you will see very anonymous display of cliparts.

**Expected behaviour**
The Cliparts should be displayed according to the date of creation or modification.

**Screenshots**

![Screenshot_2019-12-27-02-23-31-583_org fossas

[2019-12-26 22:22] #577 closed

[2019-12-27 18:15] tronku opened #579 "Keyboard visible on opening drawer"
**Describe the bug**
If one opens the nav drawer while typing, the keyboard remains visible due to which the below options of the drawer aren't accessible.

**To Reproduce**
Focus on the edittext in the TextArtFragment and then open the drawer.

**Expected behavior**
The soft keyboard should automatically hide.

**Screenshots**

![WhatsApp Image 2019-12-27 at 11 43 45 PM](https://user-images.githu

[2019-12-27 18:33] refactor-droidyy opened #580 "Update latest UI screenshots in Readme"
**Describe the chore**
The current screenshots of UI in the readme file are outdated.

**Would you like to work on the issue?**
Yes

[2019-12-27 20:01] #580 closed

[2019-12-28 19:14] xamanu opened #583 "F-Droid build doesn't work"
**Describe the bug**
The current build on F-Droid doesn't seem to work. I tested it with two different Android devices. When clicking "Transfer" to the badge, it complains about `No GPS Found, Please Enable GPS from settings, despite GPS being allowed and activated.

**To Reproduce**
Install the app from F-Droid and try to transfer some content to the badge.

[2019-12-28 21:08] adityastic commented on #583
@xamanu just tried, it works for me. Can you send a video for the same. Including a fresh install and a test in the video

[2019-12-29 00:18] xamanu commented on #583
Dies this work?
http://cloud.consciente.de/index.php/s/gR3Xjk8eT9MLxqE

[2019-12-29 01:10] adityastic commented on #583
@xamanu it does not show what happened after you gave the permission. Try clicking on transfer button again

[2019-12-29 01:36] xamanu commented on #583
Thanks for the great device and you looking into this problem!

Permission was given from the beginning, when the app starts up for the first time. Then I just show you the settings, without changing anything.

See here a new screen recording http://cloud.consciente.de/index.php/s/iwjRntybQiJG9kH

I had the same issue with two different phones (Android 9 and 10), and during the congress when I was

[2019-12-29 07:57] refactor-droidyy opened #584 "On Transfer option select"
**Describe the feature you'd like**
 When a user is on the saved badge and he chooses the transfer option the user can easily turn on the Bluetooth within the app. currently, this action shows a toast message Requesting user to turn Bluetooth on.

**Would you like to work on the issue?**
Yes

[2019-12-29 14:57] johannesschweig opened #586 "Cliparts size is 40x11 even though badge size is 44x11"
First up, thanks for your amazing work on this app. Really love the easy way to change badges!
**Describe the bug**
I noticed that cliparts can only be created in a 40x11 px format (stored png also has this format). But the badge has a 44x11 px width. Any reason for that?

**To Reproduce**
Create a new clipart and fill it with pixels. Now go to "create badge" and insert it. There will be an area o

[2019-12-29 16:48] adityastic commented on #583
@xamanu Perfect, can you please specify the devices you tested it on?

[2019-12-29 17:21] adityastic commented on #586
@johannesschweig glad you're liking our application. I'll take up this issue and get it fixed in the upcoming version asap. Feel free to track the progress of this issue here :). Regards

[2019-12-29 19:48] #579 closed

[2019-12-30 12:35] tronku opened #588 "No message when saved clipart list is empty"
**Describe the bug**
There is a little issue in the UI of the app. If there are no items in the saved cliparts then a blank screen appears to the user which is confusing and gives a bad experience.

**To Reproduce**
Delete all the saved cliparts, if any. Go to saved clipart fragment from the nav drawer.

**Expected behavior**
User should be informed that there is no saved clipart.

**Screenshots**

[2019-12-30 12:52] refactor-droidyy opened #589 "No warning dialogue is shown while deleting badge and clipart"
**Describe the bug**
When a user tries to delete badge and clipart there is no confirmation dialogue shown (as maybe by mistake the icon get selected by a user)

**To Reproduce**
Try to delete clipart from saved clipart and saved badge

**Expected behaviour**
On clicking delete icon in saved clipart or saved badge, a warning dialogue should appear.

**Would you like to work on the issue?**
Yes

[2019-12-30 13:32] #564 closed

[2019-12-30 13:34] #584 closed

[2019-12-30 15:25] refactor-droidyy opened #590 "Shifting hideKeyboard function to onDrawerslide"
**Describe the bug**
Right now the keyboard in the main screen hides only when the drawer is fully opened

**To Reproduce**
Launch the application and slide drawer.

**Expected behaviour**
The keyboard should hide on sliding little amount of drawer

**Screenshots**

![bluetooth_before](https://user-images.githubusercontent.com/44283521/71586948-eac6ff00-2b41-11ea-91b6-e9dedf699c4e.gif)

**Would yo

[2019-12-30 15:43] refactor-droidyy opened #592 "Minor refactor"
**Describe the bug**
 In storageutils in function getAllFiles() the list is first sorted and reversed

[2019-12-30 15:48] adityastic commented on #590
@iamareebjamal please give your thoughts on this issue

[2019-12-30 15:51] #592 closed

[2019-12-30 17:00] iamareebjamal commented on #590
Not needed. It's not a bug in our code

[2019-12-30 19:15] #590 closed

[2019-12-30 19:20] tronku opened #594 "Nav drawer not working in draw clipart fragment"
**Describe the bug**
If one has opened the draw clipart fragment then on clicking any option in the navigation drawer, it always navigates to the create badge fragment.

**Expected behavior**
It should navigate to the selected fragment only.

**Screenshots**

![ezgif-2-689ce67955f4](https://user-images.githubusercontent.com/31654207/71596963-7606bb80-2b67-11ea-9fe8-3eb08654ebe1.gif)

**Smartphone

[2019-12-30 21:30] marisasrida01 commented on #478
nice

[2019-12-31 08:06] xamanu commented on #583
Google Pixel 2XL with Android 10 (without GApps).
Google Nexus 5X with Android 8.1 (GApps installed on the system).

It seems to be a common problem. As said on the FOSSAsia table at the congress people started queuing up having this problem.

[2019-12-31 10:04] #589 closed

[2019-12-31 12:50] #594 closed

[2019-12-31 13:09] refactor-droidyy commented on #478
@adityastic the changes regarding perform the operation as mentioned in issue should be like this please confirm.

![oie_2rIAwbSJwtE6](https://user-images.githubusercontent.com/44283521/71622602-e0b60680-2bfc-11ea-9864-89e8d4c6ccae.png)

[2019-12-31 14:04] refactor-droidyy opened #598 "Blank screen on app launch"
**Describe the bug**
On launching the app there is currently no fragment shown.

**To Reproduce**
Launch the app see the blank screen

**Expected behaviour**
On launching app create Badge Fragment should be seen

**Screenshots**

![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/44283521/71623653-3a6dff00-2c04-11ea-8625-44af9a9eba73.gif)

**Smartphone Info:**

|

[2019-12-31 14:43] adityastic commented on #478
@refactor-droidyy yes that looks good to me

[2020-01-01 08:21] #478 closed

[2020-01-02 10:38] fcartegnie commented on #583
Confirmed.
No one could use that build at CCC, whatever their settings were. Android 9, OnePlus, and even Android 10

[2020-01-02 10:57] adityastic commented on #583
@fcartegnie I'm investigating the issue, thanks for the support. As there is no crash, it is difficult for me to understand what might be going wrong here. But definitely we'll try to fix it within the next week

[2020-01-02 15:47] adityastic commented on #583
@fcartegnie @xamanu got the issue, dropping a pr to fix it rn :)

[2020-01-02 18:46] xamanu commented on #583
Many thanks! Let me know if I can test the apk somehow without looking into the building pipeline.

[2020-01-02 18:57] fcartegnie commented on #469
Transfer button outside the list (before or after the scroll list)
Activates only when preview is selected

[2020-01-02 19:03] fcartegnie commented on #239
That's underestimating work. There's no "magic" way to create bitmap fonts.
Either you rasterize the vector/truetype font (on 1bpp that's really bad) which will look usually bad compared to a hand written bitmap.
Or you use a Unicode Bitmap font, but I doubt you'll find a matching height and that will grow the app.

[2020-01-02 19:08] lanrat commented on #239
What about an option to use [BDF](https://en.wikipedia.org/wiki/Glyph_Bitmap_Distribution_Format)  or [PCF](https://en.wikipedia.org/wiki/Portable_Compiled_Format)  bitmap fonts?

I've used them before when driving LEDs.

[2020-01-02 19:46] #583 closed

[2020-01-02 19:50] adityastic commented on #583
@xamanu https://raw.githubusercontent.com/fossasia/badge-magic-android/apk/badge-magic-development-debug.apk try this out

[2020-01-02 19:56] adityastic commented on #469
@fcartegnie we implemented some new features with a new interface for saved badges, please try this out https://raw.githubusercontent.com/fossasia/badge-magic-android/apk/badge-magic-development-debug.apk

[2020-01-02 22:14] xamanu commented on #583
Works. Thank you!

[2020-01-02 22:27] adityastic commented on #583
@xamanu perfect, it will be live on fdroid and app store with the next update, till then you can use this link as it will always contain the latest test apps. Cheers !

[2020-01-03 09:26] #598 closed

[2020-01-03 11:18] adityastic opened #604 "shifting iOS app here"

[2020-01-03 11:28] #575 closed

[2020-01-03 12:24] adityastic opened #607 "iOS framework build failed"

[2020-01-03 14:47] #607 closed

[2020-01-03 18:27] tanmayrauth commented on #588
Can i work on this issue?

[2020-01-03 18:35] adityastic commented on #588
@tanmayrauth it is in progress atm. @tronku has a buffer of 7 days to complete this. Keep a check on the progress 👍

[2020-01-03 19:35] #604 closed

[2020-01-03 19:47] adityastic opened #608 "fix upload script with android"

[2020-01-03 20:16] #608 closed

[2020-01-04 01:05] adityastic opened #611 "deployment of iOS is not working"

[2020-01-04 10:13] #611 closed

[2020-01-04 16:08] tanmayrauth opened #614 "Fix: About Us menu is not checked in drawer when it is selected"
**Describe the bug**
About Us  item in navigation drawer is in checked state when we select it.

**To Reproduce**
Click on about us item and then check navigation drawer. [ About us won't be in checked state]

**Expected behavior**
Ideally if about us item is selected then it should be in checked state when we open again navigation drawer. Similar behavior is happening for other items.

**Screensh

[2020-01-04 16:54] #614 closed

[2020-01-04 16:59] adityastic commented on #556
@refactor-droidyy any updates?

[2020-01-04 17:02] tanmayrauth opened #616 "Application directly closes on back pressed"
**Describe the feature you'd like**
Application directly closes on back pressed. If an user clicks the back button unintensionally then the application is terminated . A small dialog box can fix this issue.

**Would you like to work on the issue?**
Sure

[2020-01-04 18:32] refactor-droidyy opened #618 "App crashes on opening saved badge"
**Describe the bug**
On Opening Saved Badge Section from the navigation drawer, the app crashes unexpectantly.

**To Reproduce**
Open Saved Badge from navigation drawer.

**Expected behaviour**
The app should not crash and it shows the list of badges.

**Logs**
 kotlinx.serialization.SerializationException: org.fossasia.badgemagic.data.Mode does not contain element with name '0'
        at kotlinx

[2020-01-04 18:36] adityastic commented on #616
We might not need this

[2020-01-04 18:36] #616 closed

[2020-01-04 18:47] tanmayrauth commented on #616
But you might have seen this feature in many apps where it is used to avoid unexpected back clicks. Isn't it?